SD_NodeRED_automation.json
[{"id":"f463d72d.5e858","type":"tab","label":"Mereni spotreby - prizemi ","disabled":false,"info":"Shelly 3EM"},{"id":"81f363af.06dc4","type":"tab","label":"Well discharge flowmeter","disabled":false,"info":""},{"id":"37ba4dd4.0e48e2","type":"tab","label":"Meteostanice skleník","disabled":false,"info":""},{"id":"49e5a4a7.94681c","type":"tab","label":"Email notifier","disabled":false,"info":""},{"id":"635ae3b5.efcf7c","type":"tab","label":"Větrání sklep","disabled":false,"info":""},{"id":"92c32749.617478","type":"tab","label":"Bridgeport 800 simulator","disabled":false,"info":""},{"id":"15ba7af5.ef7ed5","type":"tab","label":"Teplomery doma","disabled":false,"info":""},{"id":"2ffb1847.eb1e08","type":"tab","label":"PAPAGO","disabled":true,"info":""},{"id":"83091c5a.91d39","type":"tab","label":"Termohlavice","disabled":false,"info":""},{"id":"daa9a2a.756cc6","type":"tab","label":"Kotel","disabled":false,"info":""},{"id":"9198b982.bc7038","type":"tab","label":"Mereni spotreby dum","disabled":false,"info":""},{"id":"81980030.04e6","type":"tab","label":"Bojler prizemi byt","disabled":false,"info":""},{"id":"c6e1bd53.4061d","type":"tab","label":"Stan na bylinky","disabled":false,"info":""},{"id":"9bfdb886.0c25b8","type":"tab","label":"IR lampa","disabled":true,"info":""},{"id":"584a8cef.71d724","type":"tab","label":"Mereni spotreby - dilna","disabled":false,"info":""},{"id":"49f02670.4e40e","type":"mqtt-broker","name":"MQTT Broker - CML","broker":"192.168.10.124","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"667c9ce0.e82384","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"sklenik","name":"Influx DB - Sklenik","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"13dae0fc.d7e33f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"30400b86.dc0134","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"machines","name":"Machines","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"ff961ca7.c902e","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"doom","name":"Doomek","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"b3e4dd7c.488fd","type":"modbus-client","name":"Papago Modbus server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.100.84","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d1ebb08c.52989","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"spotreba_elektriny","name":"Spotreba elektriny","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"9c601852.a823c8","type":"ui_tab","name":"Doomecek","icon":"dashboard","disabled":false,"hidden":false},{"id":"b47dc866.7d4468","type":"ui_group","name":"Elektro","tab":"9c601852.a823c8","order":1,"disp":true,"width":30,"collapse":false},{"id":"10bafec7.f43571","type":"ui_spacer","name":"spacer","group":"b47dc866.7d4468","order":1,"width":8,"height":1},{"id":"e51b633d.1e5f1","type":"ui_spacer","name":"spacer","group":"b47dc866.7d4468","order":3,"width":8,"height":1},{"id":"ba1e4a9f.c53cc8","type":"ui_spacer","name":"spacer","group":"b47dc866.7d4468","order":4,"width":8,"height":1},{"id":"64bf5c78.0ff594","type":"ui_spacer","name":"spacer","group":"b47dc866.7d4468","order":5,"width":8,"height":1},{"id":"e78dbd.8d00a24","type":"ui_spacer","name":"spacer","group":"b47dc866.7d4468","order":6,"width":30,"height":1},{"id":"7630b6e5.868308","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"topeni","name":"Topeni","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"61a8377d.de50c8","type":"light-scheduler-settings","name":"Doma","latitude":"50","longitude":"15"},{"id":"87b7d485.15ecf8","type":"mqtt in","z":"f463d72d.5e858","name":"L1 voltage","topic":"shellies/shellyem3_downstairs/emeter/0/voltage","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":60,"wires":[["25acb2cf.fd087e"]],"outputLabels":["L1 line voltage [V]"],"icon":"node-red-dashboard/ui_gauge.png"},{"id":"25acb2cf.fd087e","type":"influxdb out","z":"f463d72d.5e858","influxdb":"d1ebb08c.52989","name":"L1 Napeti","measurement":"prizemi_l1_napeti","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":460,"y":60,"wires":[]},{"id":"bb4cacc8.9939d","type":"mqtt in","z":"f463d72d.5e858","name":"L2 voltage","topic":"shellies/shellyem3_downstairs/emeter/1/voltage","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":120,"wires":[["66349d23.c57794"]]},{"id":"66349d23.c57794","type":"influxdb out","z":"f463d72d.5e858","influxdb":"d1ebb08c.52989","name":"L2 Napeti","measurement":"prizemi_l2_napeti","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":460,"y":120,"wires":[]},{"id":"dd4e4a00.8edc48","type":"mqtt in","z":"f463d72d.5e858","name":"L3 voltage","topic":"shellies/shellyem3_downstairs/emeter/2/voltage","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":180,"wires":[["cfb02ae9.c59058"]]},{"id":"cfb02ae9.c59058","type":"influxdb out","z":"f463d72d.5e858","influxdb":"d1ebb08c.52989","name":"L3 Napeti","measurement":"prizemi_l3_napeti","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":460,"y":180,"wires":[]},{"id":"248cb8c2.452058","type":"mqtt in","z":"f463d72d.5e858","name":"L1 current","topic":"shellies/shellyem3_downstairs/emeter/0/current","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":260,"wires":[["c389e821.0c9768"]]},{"id":"c389e821.0c9768","type":"influxdb out","z":"f463d72d.5e858","influxdb":"d1ebb08c.52989","name":"L1 Proud","measurement":"prizemi_l1_proud","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":460,"y":260,"wires":[]},{"id":"203bea11.3c0016","type":"mqtt in","z":"f463d72d.5e858","name":"L2 current","topic":"shellies/shellyem3_downstairs/emeter/1/current","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":320,"wires":[["d6b63ba8.31d6f8"]]},{"id":"d6b63ba8.31d6f8","type":"influxdb out","z":"f463d72d.5e858","influxdb":"d1ebb08c.52989","name":"L2 Proud","measurement":"prizemi_l2_proud","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":460,"y":320,"wires":[]},{"id":"c4c6ea84.8bb5f8","type":"mqtt in","z":"f463d72d.5e858","name":"L3 current","topic":"shellies/shellyem3_downstairs/emeter/2/current","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":380,"wires":[["57aac74e.b15e58"]]},{"id":"57aac74e.b15e58","type":"influxdb out","z":"f463d72d.5e858","influxdb":"d1ebb08c.52989","name":"L3 Proud","measurement":"prizemi_l3_proud","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":460,"y":380,"wires":[]},{"id":"f09182ed.419a7","type":"mqtt in","z":"f463d72d.5e858","name":"L1 power","topic":"shellies/shellyem3_downstairs/emeter/0/power","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":180,"y":460,"wires":[["19620a5d.3c6ca6","fa160e60.33419"]]},{"id":"19620a5d.3c6ca6","type":"influxdb out","z":"f463d72d.5e858","influxdb":"d1ebb08c.52989","name":"L1 Vykon","measurement":"prizemi_l1_vykon","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":460,"y":460,"wires":[]},{"id":"e3b21c14.a00e9","type":"mqtt in","z":"f463d72d.5e858","name":"L2 power","topic":"shellies/shellyem3_downstairs/emeter/1/power","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":180,"y":580,"wires":[["36cb2998.ffb9d6","fa160e60.33419"]]},{"id":"36cb2998.ffb9d6","type":"influxdb out","z":"f463d72d.5e858","influxdb":"d1ebb08c.52989","name":"L2 Vykon","measurement":"prizemi_l2_vykon","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":440,"y":580,"wires":[]},{"id":"bb0cb047.37e6b","type":"mqtt in","z":"f463d72d.5e858","name":"L3 power","topic":"shellies/shellyem3_downstairs/emeter/2/power","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":180,"y":640,"wires":[["999ae2b6.7304f","fa160e60.33419"]]},{"id":"999ae2b6.7304f","type":"influxdb out","z":"f463d72d.5e858","influxdb":"d1ebb08c.52989","name":"L3 Vykon","measurement":"prizemi_l3_vykon","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":440,"y":640,"wires":[]},{"id":"5f450efc.4755b","type":"mqtt in","z":"f463d72d.5e858","name":"L1 total","topic":"shellies/shellyem3_downstairs/emeter/0/total","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":170,"y":720,"wires":[["83289e7b.7fe99","47c599f6.5603e8"]],"outputLabels":["L1 total energy consumption [Wh]"]},{"id":"4221610a.bbbb1","type":"influxdb out","z":"f463d72d.5e858","influxdb":"d1ebb08c.52989","name":"L1 Spotreba Wh","measurement":"prizemi_l1_spotreba","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":640,"y":720,"wires":[]},{"id":"14d3fa14.5a6286","type":"mqtt in","z":"f463d72d.5e858","name":"L2 total","topic":"shellies/shellyem3_downstairs/emeter/1/total","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":170,"y":880,"wires":[["83289e7b.7fe99","1dc18e0f.394292"]],"outputLabels":["L2 total energy consumption [Wh]"]},{"id":"a49963e5.330da","type":"influxdb out","z":"f463d72d.5e858","influxdb":"d1ebb08c.52989","name":"L2 spotreba Wh","measurement":"prizemi_l2_spotreba","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":600,"y":880,"wires":[]},{"id":"6cec9bb9.dfc7e4","type":"mqtt in","z":"f463d72d.5e858","name":"L3 total","topic":"shellies/shellyem3_downstairs/emeter/2/total","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":170,"y":940,"wires":[["83289e7b.7fe99","f893153f.4ae2c8"]],"outputLabels":["L3 total energy consumption [Wh]"]},{"id":"205a99d1.3db0b6","type":"influxdb out","z":"f463d72d.5e858","influxdb":"d1ebb08c.52989","name":"L3 Spotreba Wh","measurement":"prizemi_l3_spotreba","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":600,"y":940,"wires":[]},{"id":"fa160e60.33419","type":"join","z":"f463d72d.5e858","name":"Powers","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":460,"y":520,"wires":[["2ba35993.4904d6"]]},{"id":"2ba35993.4904d6","type":"function","z":"f463d72d.5e858","name":"Total power","func":"\nvar result = msg.payload[0] + msg.payload[1] + msg.payload[2]\nmsg.payload = result\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":520,"wires":[["705a4e23.2b5ef","b43230d5.151d9","5198c211.c6113c","3128460f.ed1b3a"]]},{"id":"705a4e23.2b5ef","type":"influxdb out","z":"f463d72d.5e858","influxdb":"d1ebb08c.52989","name":"Celkovy vykon","measurement":"prizemi_celkovy_vykon","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":920,"y":520,"wires":[]},{"id":"83289e7b.7fe99","type":"join","z":"f463d72d.5e858","name":"Consumptions","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":380,"y":800,"wires":[["693903ec.3ff8cc"]]},{"id":"693903ec.3ff8cc","type":"function","z":"f463d72d.5e858","name":"Total consumption ","func":"\nvar result = msg.payload[0] + msg.payload[1] + msg.payload[2]\nmsg.payload = result\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":800,"wires":[["49e1a222.815954","da96b999.b93ec8"]]},{"id":"b8308f8.23262f","type":"mqtt in","z":"81f363af.06dc4","name":"Well flow meter Tasmota","topic":"tele/well_discharge_flowmeter/SENSOR","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":230,"y":240,"wires":[["7d517539.84fa8c","97e0e49a.8d9138"]]},{"id":"9cd1eeaa.dcefc8","type":"trigger","z":"f463d72d.5e858","name":"HDO Watchdog","op1":"low","op2":"high","op1type":"str","op2type":"str","duration":"60","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":400,"y":1060,"wires":[["509e463.240e6b8","24b5e11f.fde39e","2c4aa0a.c7b026"]],"inputLabels":["HDO sensor"],"outputLabels":["HDO Low watchdog"]},{"id":"509e463.240e6b8","type":"influxdb out","z":"f463d72d.5e858","influxdb":"d1ebb08c.52989","name":"HDO Tarif","measurement":"hdo_tarif","precision":"m","retentionPolicy":"forever","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":580,"y":1060,"wires":[]},{"id":"49e1a222.815954","type":"delay","z":"f463d72d.5e858","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":810,"y":800,"wires":[["4b8a9ae1.83b544"]]},{"id":"ddfbe70a.36567","type":"mqtt in","z":"f463d72d.5e858","name":"HDO Low Active","topic":"shellies/hdo_signal/input/0","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":1060,"wires":[["9cd1eeaa.dcefc8"]],"outputLabels":["HDO low active"]},{"id":"24b5e11f.fde39e","type":"change","z":"f463d72d.5e858","name":"HDO global variable","rules":[{"t":"set","p":"hdo_state","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1020,"wires":[[]]},{"id":"4f42995d.a79d28","type":"influxdb out","z":"37ba4dd4.0e48e2","influxdb":"667c9ce0.e82384","name":"Sklenik DB - venku_teplota [st. C]","measurement":"venku_teplota","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1760,"y":100,"wires":[]},{"id":"640a3e54.d219c","type":"e-mail","z":"49e5a4a7.94681c","server":"smtp.sendgrid.net","port":"465","secure":true,"tls":false,"name":"horky.lukas@gmail.com","dname":"Email sender Lukas","x":1070,"y":200,"wires":[]},{"id":"f0a67853.1b6c78","type":"cronplus","z":"49e5a4a7.94681c","name":"Daily trigger","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"Doomácí sumář","payloadType":"default","payload":"","expressionType":"cron","expression":"0 0 8 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":150,"y":200,"wires":[["3b1cc360.26819c"]]},{"id":"3b1cc360.26819c","type":"influxdb in","z":"49e5a4a7.94681c","influxdb":"667c9ce0.e82384","name":"Greenhouse daily stats","query":"SELECT ROUND(10 * MEAN(value)) / 10 AS mean, ROUND( 10 * MAX(value)) / 10 AS max\nFROM uvnitr_teplota\nWHERE time >= now() - 1d\n;\n\nSELECT ROUND(10 * MEAN(value)) / 10 AS mean, ROUND( 10 * MAX(value)) / 10 AS max\nFROM venku_teplota\nWHERE time >= now() - 1d\n;\nSELECT SPREAD(value) \nFROM doom..prepad_vrtu_absolut \nWHERE time >= now() - 1d\n;\nSELECT LAST(value)\nFROM uvnitr_teplota\n;\nSELECT LAST(value)\nFROM venku_teplota\n;\nSELECT ROUND(10 * MIN(value)) / 10 AS min\nFROM uvnitr_teplota\nWHERE time >= now() - 16h\n;\nSELECT ROUND(10 * MIN(value)) / 10 AS min\nFROM venku_teplota\nWHERE time >= now() - 16h\n;\nSELECT SUM(\"Celkova spotreba [Wh]\") / 1000\nFROM spotreba_elektriny.forever.prizemi_celkova_spotreba_5m\nWHERE hdo_tarif = 'low' AND \"Celkova spotreba [Wh]\" < 1000 AND time >= now() - 1d\n;\nSELECT SUM(\"Celkova spotreba [Wh]\") / 1000\nFROM spotreba_elektriny.forever.prizemi_celkova_spotreba_5m\nWHERE hdo_tarif = 'high' AND \"Celkova spotreba [Wh]\" < 1000 AND time >= now() - 1d\n;\nSELECT SUM(\"Celkova spotreba [Wh]\") / 1000\nFROM spotreba_elektriny.forever.prizemi_celkova_spotreba_5m\nWHERE \"Celkova spotreba [Wh]\" < 1000 AND time >= now() - 1d\n;\n","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":360,"y":200,"wires":[["5ace9d69.b71cb4","4e81770b.28d228"]]},{"id":"4e81770b.28d228","type":"function","z":"49e5a4a7.94681c","name":"Email composer","func":"var date = msg.payload[0][0].time\nvar temp_inside = \"Teplota ve skleníku:\\naktuální: \" + msg.payload[3][0].last + \" C\\nmin: \" + msg.payload[5][0].min + \" C\\navg: \" + msg.payload[0][0].mean + \" C\\nmax: \" + msg.payload[0][0].max + \" C\"\nvar temp_outside = \"Teplota venku:\\naktuální: \" + msg.payload[4][0].last + \" C\\nmin: \" + msg.payload[6][0].min + \" C\\navg: \" + msg.payload[1][0].mean + \" C\\nmax: \" + msg.payload[1][0].max + \" C\"\nvar well_discharge = \"Za posledních 24 hodin přeteklo \" + msg.payload[2][0].spread.toFixed(0) + \" l vody.\"\nvar spotreba_elektriny = \"Za poslednich 24 hodin spotřebováno \" + msg.payload[9][0].sum.toFixed(2) + \" kWh elektřiny.\"\nvar splitter = \"\\n-----------------------------\\n\"\nmsg.from = \t[ { \"address\": \"cml@horky.tech\", \"name\": \"CML\" } ]\n\ndate.setDate(date.getDate() + 1);\n\nmsg.payload = date + splitter + temp_inside + splitter + temp_outside + splitter + well_discharge + splitter + spotreba_elektriny\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":200,"wires":[["640a3e54.d219c","d29dfb41.bc05f8"]]},{"id":"3cdbe493.4ff84c","type":"e-mail","z":"49e5a4a7.94681c","server":"smtp.sendgrid.net","port":"465","secure":true,"tls":false,"name":"nada.rosova@gmail.com","dname":"Email sender Nada","x":1070,"y":260,"wires":[]},{"id":"d29dfb41.bc05f8","type":"delay","z":"49e5a4a7.94681c","name":"Delay 1 s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":260,"wires":[["3cdbe493.4ff84c"]]},{"id":"5ace9d69.b71cb4","type":"debug","z":"49e5a4a7.94681c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":570,"y":140,"wires":[]},{"id":"668cf631.a71fb8","type":"change","z":"37ba4dd4.0e48e2","name":"Global outside temperature source","rules":[{"t":"set","p":"temperature_outside","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":40,"wires":[[]]},{"id":"571b2a1a.c6e364","type":"mqtt in","z":"635ae3b5.efcf7c","name":"Basement temp","topic":"tele/basement_temperature/SENSOR","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":140,"y":240,"wires":[["23f81cd1.26a6d4","48778fa2.f0b92","888fbe73.43f54"]]},{"id":"740b48e2.e4d318","type":"switch","z":"635ae3b5.efcf7c","name":"Fan switcher","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"8","vt":"num"},{"t":"lt","v":"temperature_outside","vt":"global"},{"t":"gt","v":"temperature_outside","vt":"global"}],"checkall":"false","repair":false,"outputs":3,"x":810,"y":360,"wires":[["13a151ed.525a5e"],["13a151ed.525a5e"],["d0181bc0.3f5488"]]},{"id":"d0181bc0.3f5488","type":"change","z":"635ae3b5.efcf7c","name":"FAN ON ","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":400,"wires":[["acfa36a9.5905a8"]]},{"id":"13a151ed.525a5e","type":"change","z":"635ae3b5.efcf7c","name":"FAN OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":360,"wires":[["acfa36a9.5905a8"]]},{"id":"acfa36a9.5905a8","type":"mqtt out","z":"635ae3b5.efcf7c","name":"Basement fan ctrl","topic":"cmnd/basement_temperature/STATE/POWER","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":1290,"y":360,"wires":[]},{"id":"f7896763.4b1148","type":"mqtt in","z":"635ae3b5.efcf7c","name":"Basement fan","topic":"stat/basement_temperature/POWER","qos":"2","datatype":"utf8","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":190,"y":520,"wires":[["93ca35b.b8c14c8","1bea890a.ee75c7"]]},{"id":"1bea890a.ee75c7","type":"influxdb out","z":"635ae3b5.efcf7c","influxdb":"ff961ca7.c902e","name":"Basement fan","measurement":"basement_fan","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":640,"y":520,"wires":[]},{"id":"888fbe73.43f54","type":"debug","z":"635ae3b5.efcf7c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":370,"y":160,"wires":[]},{"id":"516b4917.825ae","type":"influxdb out","z":"92c32749.617478","influxdb":"30400b86.dc0134","name":"Bridgeport 800 Power","measurement":"bridgeport_800_power","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1140,"y":300,"wires":[]},{"id":"c0a4f1b4.f7fe4","type":"trigger","z":"92c32749.617478","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"62","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":430,"y":260,"wires":[["853a86b7.a5add8"]]},{"id":"c2216993.234098","type":"inject","z":"92c32749.617478","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"total_power","payloadType":"global","x":170,"y":300,"wires":[["c0a4f1b4.f7fe4","c5092eaa.25249","6d5f8e2f.273e4"]]},{"id":"853a86b7.a5add8","type":"trigger","z":"92c32749.617478","name":"","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"-30","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":670,"y":260,"wires":[["6d5f8e2f.273e4"]]},{"id":"c5092eaa.25249","type":"change","z":"92c32749.617478","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[["853a86b7.a5add8"]]},{"id":"6d5f8e2f.273e4","type":"delay","z":"92c32749.617478","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":300,"wires":[["516b4917.825ae","75bf1cbb.2d5d64"]]},{"id":"d250c5ae.55bb58","type":"inject","z":"92c32749.617478","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":260,"wires":[["c0a4f1b4.f7fe4"]]},{"id":"b43230d5.151d9","type":"change","z":"f463d72d.5e858","name":"","rules":[{"t":"set","p":"total_power","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":480,"wires":[[]]},{"id":"de5976fb.02e668","type":"debug","z":"92c32749.617478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1110,"y":60,"wires":[]},{"id":"6682b4c2.a1058c","type":"mqtt in","z":"92c32749.617478","name":"L2 total","topic":"shellies/shellyem3_downstairs/emeter/1/total","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":190,"y":120,"wires":[["4c718e5e.e11db"]],"outputLabels":["L2 total energy consumption [Wh]"]},{"id":"34d0e617.596b2a","type":"mqtt in","z":"92c32749.617478","name":"L1 total","topic":"shellies/shellyem3_downstairs/emeter/0/total","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":190,"y":60,"wires":[["4c718e5e.e11db"]],"outputLabels":["L2 total energy consumption [Wh]"]},{"id":"ce304138.f6455","type":"mqtt in","z":"92c32749.617478","name":"L3 total","topic":"shellies/shellyem3_downstairs/emeter/2/total","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":190,"y":180,"wires":[["4c718e5e.e11db"]],"outputLabels":["L2 total energy consumption [Wh]"]},{"id":"4c718e5e.e11db","type":"join","z":"92c32749.617478","name":"Consumption merger","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":480,"y":120,"wires":[["aa78bb63.811378"]]},{"id":"aa78bb63.811378","type":"function","z":"92c32749.617478","name":"Total consumption","func":"\nvar result = msg.payload[0] + msg.payload[1] + msg.payload[2]\nmsg.payload = result\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":120,"wires":[["40cac7cc.7498b8"]]},{"id":"d6386172.504de","type":"influxdb out","z":"92c32749.617478","influxdb":"30400b86.dc0134","name":"Bridgeport 800 Consumption","measurement":"bridgeport_800_consumption","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1160,"y":120,"wires":[]},{"id":"40cac7cc.7498b8","type":"delay","z":"92c32749.617478","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":120,"wires":[["d6386172.504de","de5976fb.02e668"]]},{"id":"372c10bb.cf1bc","type":"mqtt in","z":"15ba7af5.ef7ed5","name":"Teplota obyvak prizemi","topic":"shellies/shellyht_downstairs_livingroom/sensor/temperature","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":210,"y":100,"wires":[["fca1c81e.462f18","5c94a9a3.d2d268"]]},{"id":"913dde0a.71398","type":"mqtt in","z":"15ba7af5.ef7ed5","name":"Teplota predni pokoj prizemi","topic":"shellies/shellyht_downstairs_front_room/sensor/temperature","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":220,"y":460,"wires":[["58567e0d.6cb2f","192f8218.86cd4e"]]},{"id":"7728dffe.c7818","type":"mqtt in","z":"15ba7af5.ef7ed5","name":"Teplota patro chodba","topic":"shellies/ht_upstairs_hall/sensor/temperature","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":600,"wires":[["563484ff.c0b85c","1e9b9081.793fef"]]},{"id":"fca1c81e.462f18","type":"influxdb out","z":"15ba7af5.ef7ed5","influxdb":"ff961ca7.c902e","name":"Teplota obyvak prizemi","measurement":"downstairs_livingroom_temperature","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":710,"y":100,"wires":[]},{"id":"58567e0d.6cb2f","type":"influxdb out","z":"15ba7af5.ef7ed5","influxdb":"ff961ca7.c902e","name":"Teplota predni pokoj prizemi","measurement":"downstairs_front_room_temperature","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":460,"wires":[]},{"id":"563484ff.c0b85c","type":"influxdb out","z":"15ba7af5.ef7ed5","influxdb":"ff961ca7.c902e","name":"Teplota patro chodba","measurement":"upstairs_hall_temperature","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":710,"y":600,"wires":[]},{"id":"e56567b1.425de8","type":"mqtt in","z":"15ba7af5.ef7ed5","name":"Vlhkost obyvak prizemi","topic":"shellies/shellyht_downstairs_livingroom/sensor/humidity","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":160,"wires":[["cb7c8628.25ed98"]]},{"id":"cb7c8628.25ed98","type":"influxdb out","z":"15ba7af5.ef7ed5","influxdb":"ff961ca7.c902e","name":"Vlhkost obyvak prizemi","measurement":"downstairs_livingroom_humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":700,"y":160,"wires":[]},{"id":"7578cbdc.5b5334","type":"mqtt in","z":"15ba7af5.ef7ed5","name":"Vlhkost predni pokoj prizemi","topic":"shellies/shellyht_downstairs_front_room/sensor/humidity","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":220,"y":520,"wires":[["c71cfba.90b0608"]]},{"id":"c71cfba.90b0608","type":"influxdb out","z":"15ba7af5.ef7ed5","influxdb":"ff961ca7.c902e","name":"Vlhkost predni pokoj prizemi","measurement":"downstairs_front_room_humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":520,"wires":[]},{"id":"f1199bb0.dae6b8","type":"mqtt in","z":"15ba7af5.ef7ed5","name":"Vlhkost patro chodba","topic":"shellies/ht_upstairs_hall/sensor/humidity","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":680,"wires":[["94297155.55fdf"]]},{"id":"94297155.55fdf","type":"influxdb out","z":"15ba7af5.ef7ed5","influxdb":"ff961ca7.c902e","name":"Vlhkost patro chodba","measurement":"upstairs_hall_humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":710,"y":680,"wires":[]},{"id":"f60723cc.2fd0d","type":"mqtt in","z":"15ba7af5.ef7ed5","name":"Teplota koupelna prizemi","topic":"shellies/heater_bathroom/ext_temperature/0","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":210,"y":260,"wires":[["3ed6e5d4.34e4ca","5c42a9ff.7e2ea8"]]},{"id":"1624a3c1.f1bb1c","type":"influxdb out","z":"15ba7af5.ef7ed5","influxdb":"ff961ca7.c902e","name":"Teplota koupelna prizemi","measurement":"downstairs_bathroom_temperature","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":710,"y":260,"wires":[]},{"id":"f458e629.01d378","type":"mqtt in","z":"15ba7af5.ef7ed5","name":"Vlhkost koupelna prizemi","topic":"shellies/heater_bathroom/ext_humidity/0","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":320,"wires":[["4d3b7d6d.e990e4"]]},{"id":"43716b42.d74de4","type":"influxdb out","z":"15ba7af5.ef7ed5","influxdb":"ff961ca7.c902e","name":"Vlhkost koupelna prizemi","measurement":"downstairs_bathroom_humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":700,"y":320,"wires":[]},{"id":"3ed6e5d4.34e4ca","type":"delay","z":"15ba7af5.ef7ed5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":260,"wires":[["1624a3c1.f1bb1c"]]},{"id":"4d3b7d6d.e990e4","type":"delay","z":"15ba7af5.ef7ed5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":320,"wires":[["43716b42.d74de4"]]},{"id":"b46f8243.f40b5","type":"influxdb out","z":"81f363af.06dc4","influxdb":"ff961ca7.c902e","name":"Temperature DWH","measurement":"temperature_DWH_downstairs","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":340,"wires":[]},{"id":"366ffa4b.261ba6","type":"function","z":"81f363af.06dc4","name":"Splitter","func":"var raw = msg.payload.COUNTER.C1\n\nvar volume =  raw / 450\n\nvolume = {payload : volume}\n\nvar temperature = msg.payload.DS18B20.Temperature\n\ntemperature = {payload : temperature}\n\nreturn [volume, temperature];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":240,"wires":[["ab8c8cf4.19195","3dd86c38.c1e9b4"],["b46f8243.f40b5","e0fd481f.423d78"]]},{"id":"deafbd50.73bd6","type":"inject","z":"635ae3b5.efcf7c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":1010,"y":240,"wires":[["acfa36a9.5905a8"]]},{"id":"647a9b3c.155654","type":"inject","z":"635ae3b5.efcf7c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":1010,"y":280,"wires":[["acfa36a9.5905a8"]]},{"id":"93ca35b.b8c14c8","type":"debug","z":"635ae3b5.efcf7c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":390,"y":600,"wires":[]},{"id":"49dd7648.048838","type":"influxdb out","z":"635ae3b5.efcf7c","influxdb":"ff961ca7.c902e","name":"Basement temperature","measurement":"basement_temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":620,"y":300,"wires":[]},{"id":"23f81cd1.26a6d4","type":"change","z":"635ae3b5.efcf7c","name":"Filter temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.SI7021.Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":300,"wires":[["49dd7648.048838","b18a511b.6152","9a4fd63f.4a7e48"]]},{"id":"385dc015.8bd02","type":"influxdb out","z":"635ae3b5.efcf7c","influxdb":"ff961ca7.c902e","name":"Basement humidity","measurement":"basement_humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":240,"wires":[]},{"id":"48778fa2.f0b92","type":"change","z":"635ae3b5.efcf7c","name":"Filter humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.SI7021.Humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":240,"wires":[["385dc015.8bd02"]]},{"id":"b18a511b.6152","type":"delay","z":"635ae3b5.efcf7c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":600,"y":360,"wires":[["740b48e2.e4d318"]]},{"id":"192f8218.86cd4e","type":"debug","z":"15ba7af5.ef7ed5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":470,"y":420,"wires":[]},{"id":"7d517539.84fa8c","type":"debug","z":"81f363af.06dc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":490,"y":100,"wires":[]},{"id":"c55f2f0a.58cf3","type":"mqtt in","z":"2ffb1847.eb1e08","name":"PAPAGO 2TH ETH","topic":"papagos/th1","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":330,"y":180,"wires":[["65b15de3.aa5794","210e7e92.b05ea2","2c0a2a6a.32c9c6"]]},{"id":"76fcf43d.dd4a8c","type":"debug","z":"2ffb1847.eb1e08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":910,"y":100,"wires":[]},{"id":"65b15de3.aa5794","type":"change","z":"2ffb1847.eb1e08","name":"Teplota","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vals[0].v","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Teplota","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":180,"wires":[["6720b0cd.4d5b2","76fcf43d.dd4a8c"]]},{"id":"210e7e92.b05ea2","type":"change","z":"2ffb1847.eb1e08","name":"Vlhkost","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vals[1].v","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Vlhkost","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":240,"wires":[["da590e7b.7c64c","6720b0cd.4d5b2"]]},{"id":"2c0a2a6a.32c9c6","type":"change","z":"2ffb1847.eb1e08","name":"Rosny bod","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vals[2].v","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Rosny bod","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":300,"wires":[["3ff2faa0.670206","6720b0cd.4d5b2"]]},{"id":"909a1cb4.d8c12","type":"debug","z":"2ffb1847.eb1e08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1050,"y":540,"wires":[]},{"id":"da590e7b.7c64c","type":"debug","z":"2ffb1847.eb1e08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":910,"y":340,"wires":[]},{"id":"3ff2faa0.670206","type":"debug","z":"2ffb1847.eb1e08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":850,"y":400,"wires":[]},{"id":"6720b0cd.4d5b2","type":"thingspeak42","z":"2ffb1847.eb1e08","name":"PAPAGOS","delay":"5","topic1":"Teplota","topic2":"Vlhkost","topic3":"Rosny bod","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://api.thingspeak.com","x":930,"y":240,"wires":[]},{"id":"9a4fd63f.4a7e48","type":"debug","z":"635ae3b5.efcf7c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":590,"y":420,"wires":[]},{"id":"5198c211.c6113c","type":"debug","z":"f463d72d.5e858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":920,"y":580,"wires":[]},{"id":"75bf1cbb.2d5d64","type":"debug","z":"92c32749.617478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1110,"y":240,"wires":[]},{"id":"d27a9591.020d48","type":"change","z":"37ba4dd4.0e48e2","name":"venku_teplota [st. C]","rules":[{"t":"set","p":"topic","pt":"msg","to":"venku_teplota [st. C]","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"st. C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":100,"wires":[["4f42995d.a79d28"]]},{"id":"1b73b5c1.49769a","type":"change","z":"37ba4dd4.0e48e2","name":"uvnitr_teplota [st. C]","rules":[{"t":"set","p":"topic","pt":"msg","to":"uvnitr_teplota [st. C]","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":180,"wires":[["7bd9a482.fa39bc"]]},{"id":"dd30652e.542e08","type":"change","z":"37ba4dd4.0e48e2","name":"uvnitr_vlhkost [%]","rules":[{"t":"set","p":"topic","pt":"msg","to":"uvnitr_vlhkost [%]","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":260,"wires":[["307f3d84.9dc562"]]},{"id":"ef6e5ae4.3d61d8","type":"change","z":"37ba4dd4.0e48e2","name":"atmosfericky_tlak [hPa]","rules":[{"t":"set","p":"topic","pt":"msg","to":"atmosfericky_tlak [hPa]","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":420,"wires":[["582ed782.c82a68"]]},{"id":"bbde9d13.4598f","type":"change","z":"37ba4dd4.0e48e2","name":"osvetleni [lux]","rules":[{"t":"set","p":"topic","pt":"msg","to":"osvetleni [lux]","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":500,"wires":[["ca0c6040.a35b2"]]},{"id":"a0979703.bd96c8","type":"change","z":"37ba4dd4.0e48e2","name":"baterie_napeti [V]","rules":[{"t":"set","p":"topic","pt":"msg","to":"baterie_napeti [V]","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":580,"wires":[["7a8d4134.bb285"]]},{"id":"faf22181.0c59f","type":"change","z":"37ba4dd4.0e48e2","name":"baterie_proud [mA] ","rules":[{"t":"set","p":"topic","pt":"msg","to":"baterie_proud [mA] ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":660,"wires":[["ca9d733.0cf539"]]},{"id":"dc688d0c.3dc47","type":"change","z":"37ba4dd4.0e48e2","name":"baterie_vykon [mW] ","rules":[{"t":"set","p":"topic","pt":"msg","to":"baterie_vykon [mW] ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":740,"wires":[["db813060.5538a"]]},{"id":"91787479.bd28d8","type":"debug","z":"37ba4dd4.0e48e2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":650,"y":40,"wires":[]},{"id":"c506cf4b.e5747","type":"mqtt out","z":"37ba4dd4.0e48e2","name":"Teplota venku","topic":"sklenik/venku_teplota","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":1220,"y":20,"wires":[]},{"id":"6c9eb455.f336ac","type":"mqtt out","z":"37ba4dd4.0e48e2","name":"Teplota uvnitr","topic":"sklenik/uvnitr_teplota","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":1210,"y":140,"wires":[]},{"id":"52b0d4b9.57b02c","type":"mqtt out","z":"37ba4dd4.0e48e2","name":"Vlhkost uvnitr","topic":"sklenik/uvnitr_vlhkost","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":1220,"y":220,"wires":[]},{"id":"88681918.9c2e98","type":"mqtt out","z":"37ba4dd4.0e48e2","name":"Rosny bod uvnitr","topic":"sklenik/uvnitr_rosny_bod","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":1230,"y":300,"wires":[]},{"id":"5cc03949.05a698","type":"mqtt out","z":"37ba4dd4.0e48e2","name":"Atmosfericky tlak","topic":"sklenik/atmosfericky_tlak","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":1230,"y":380,"wires":[]},{"id":"83fe3d8f.f90ad","type":"mqtt out","z":"37ba4dd4.0e48e2","name":"Osvetleni","topic":"sklenik/osvetleni","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":1200,"y":460,"wires":[]},{"id":"f57b268b.c460e8","type":"mqtt out","z":"37ba4dd4.0e48e2","name":"Napeti baterie","topic":"sklenik/baterie_napeti","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":1220,"y":540,"wires":[]},{"id":"aa27d1c1.f23df","type":"mqtt out","z":"37ba4dd4.0e48e2","name":"Proud baterie","topic":"sklenik/baterie_proud","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":1220,"y":620,"wires":[]},{"id":"c48bca08.fb7a48","type":"mqtt out","z":"37ba4dd4.0e48e2","name":"Vykon baterie","topic":"sklenik/baterie_vykon","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":1220,"y":700,"wires":[]},{"id":"92124660.aa96b8","type":"change","z":"37ba4dd4.0e48e2","name":"uvnitr_rosny_bod [st. C]","rules":[{"t":"set","p":"topic","pt":"msg","to":"uvnitr_rosny_bod [st. C]","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":340,"wires":[["525d97c5.ff1628"]]},{"id":"7bd9a482.fa39bc","type":"influxdb out","z":"37ba4dd4.0e48e2","influxdb":"667c9ce0.e82384","name":"Sklenik DB - uvnitr_teplota [st. C]","measurement":"uvnitr_teplota","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1760,"y":180,"wires":[]},{"id":"307f3d84.9dc562","type":"influxdb out","z":"37ba4dd4.0e48e2","influxdb":"667c9ce0.e82384","name":"Sklenik DB - uvnitr_vlhkost [%]","measurement":"uvnitr_vlhkost","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1750,"y":260,"wires":[]},{"id":"525d97c5.ff1628","type":"influxdb out","z":"37ba4dd4.0e48e2","influxdb":"667c9ce0.e82384","name":"Sklenik DB - uvnitr_rosny_bod [st. C]","measurement":"uvnitr_rosny_bod","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1770,"y":340,"wires":[]},{"id":"582ed782.c82a68","type":"influxdb out","z":"37ba4dd4.0e48e2","influxdb":"667c9ce0.e82384","name":"Sklenik DB - atmosfericky tlak [hPa]","measurement":"atmosfericky_tlak","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1760,"y":420,"wires":[]},{"id":"ca0c6040.a35b2","type":"influxdb out","z":"37ba4dd4.0e48e2","influxdb":"667c9ce0.e82384","name":"Sklenik DB - osvetleni [lux]","measurement":"osvetleni","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1740,"y":500,"wires":[]},{"id":"7a8d4134.bb285","type":"influxdb out","z":"37ba4dd4.0e48e2","influxdb":"667c9ce0.e82384","name":"Sklenik DB - napeti baterie [V]","measurement":"baterie_napeti","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1750,"y":580,"wires":[]},{"id":"ca9d733.0cf539","type":"influxdb out","z":"37ba4dd4.0e48e2","influxdb":"667c9ce0.e82384","name":"Sklenik DB - proud baterie [mA]","measurement":"baterie_proud","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1750,"y":660,"wires":[]},{"id":"db813060.5538a","type":"influxdb out","z":"37ba4dd4.0e48e2","influxdb":"667c9ce0.e82384","name":"Sklenik DB - vykon baterie [mW]","measurement":"baterie_vykon","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1750,"y":740,"wires":[]},{"id":"cb2eec0c.e2be2","type":"modbus-getter","z":"2ffb1847.eb1e08","name":"PAPAGO 2TH - Teplota","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"unitid":"","dataType":"InputRegister","adr":"11","quantity":"1","server":"b3e4dd7c.488fd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":480,"y":560,"wires":[["2441a0c6.709e8"],[]]},{"id":"aaff2c43.86b3c","type":"inject","z":"2ffb1847.eb1e08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":560,"wires":[["cb2eec0c.e2be2","f684ae42.66b0a","2ceaee6.02c1912"]]},{"id":"f684ae42.66b0a","type":"modbus-getter","z":"2ffb1847.eb1e08","name":"PAPAGO 2TH - Vlhkost","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"InputRegister","adr":"21","quantity":"1","server":"b3e4dd7c.488fd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":470,"y":620,"wires":[["23d6b3b6.c0213c"],[]]},{"id":"2ceaee6.02c1912","type":"modbus-getter","z":"2ffb1847.eb1e08","name":"PAPAGO 2TH - Rosny bod","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"InputRegister","adr":"31","quantity":"1","server":"b3e4dd7c.488fd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":480,"y":680,"wires":[["7c7bf768.3fb4c8"],[]]},{"id":"2441a0c6.709e8","type":"function","z":"2ffb1847.eb1e08","name":"","func":"msg.payload = msg.payload[0] / 10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":540,"wires":[["909a1cb4.d8c12"]]},{"id":"23d6b3b6.c0213c","type":"function","z":"2ffb1847.eb1e08","name":"","func":"msg.payload = msg.payload[0] / 10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":600,"wires":[["d7b0bb6c.040a98"]]},{"id":"7c7bf768.3fb4c8","type":"function","z":"2ffb1847.eb1e08","name":"","func":"msg.payload = msg.payload[0] / 10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":660,"wires":[["1d491aad.05b0f5"]]},{"id":"d7b0bb6c.040a98","type":"debug","z":"2ffb1847.eb1e08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1050,"y":600,"wires":[]},{"id":"1d491aad.05b0f5","type":"debug","z":"2ffb1847.eb1e08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1050,"y":660,"wires":[]},{"id":"ab8c8cf4.19195","type":"influxdb out","z":"81f363af.06dc4","influxdb":"ff961ca7.c902e","name":"Well discharged volume","measurement":"prepad_vrtu_absolut","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":990,"y":200,"wires":[]},{"id":"97e0e49a.8d9138","type":"delay","z":"81f363af.06dc4","name":"Limit to 1 msg / 1 min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":520,"y":240,"wires":[["366ffa4b.261ba6"]]},{"id":"23951350.0de32c","type":"influxdb out","z":"f463d72d.5e858","influxdb":"d1ebb08c.52989","name":"Celkova spotreba RAW","measurement":"prizemi_celkova_spotreba","precision":"s","retentionPolicy":"three_months","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1310,"y":800,"wires":[]},{"id":"f26a4bdf.b42bc8","type":"debug","z":"f463d72d.5e858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1270,"y":740,"wires":[]},{"id":"4b8a9ae1.83b544","type":"function","z":"f463d72d.5e858","name":"Assembler","func":"var total = msg.payload\nvar hdo = global.get('hdo_state')\n\nmsg.payload = {\n    celkova_spotreba_Wh: total,\n    hdo_tarif: hdo,\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":800,"wires":[["f26a4bdf.b42bc8","23951350.0de32c"]]},{"id":"2c4aa0a.c7b026","type":"debug","z":"f463d72d.5e858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":600,"y":1120,"wires":[]},{"id":"5c42a9ff.7e2ea8","type":"debug","z":"15ba7af5.ef7ed5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":450,"y":200,"wires":[]},{"id":"5c94a9a3.d2d268","type":"debug","z":"15ba7af5.ef7ed5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":450,"y":40,"wires":[]},{"id":"1e9b9081.793fef","type":"debug","z":"15ba7af5.ef7ed5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":470,"y":560,"wires":[]},{"id":"e0fd481f.423d78","type":"debug","z":"81f363af.06dc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":950,"y":280,"wires":[]},{"id":"3dd86c38.c1e9b4","type":"debug","z":"81f363af.06dc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":950,"y":140,"wires":[]},{"id":"3128460f.ed1b3a","type":"ui_chart","z":"f463d72d.5e858","name":"Prikon","group":"b47dc866.7d4468","order":2,"width":"0","height":"0","label":"Spotreba elektriny","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":920,"y":660,"wires":[[]]},{"id":"da96b999.b93ec8","type":"ui_text","z":"f463d72d.5e858","group":"b47dc866.7d4468","order":7,"width":"0","height":"0","name":"spotreba","label":"Spotreba [kWh]","format":"{{msg.payload / 1000}}","layout":"col-center","x":800,"y":860,"wires":[]},{"id":"20cd2fa1.31553","type":"inject","z":"f463d72d.5e858","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1020,"wires":[["9cd1eeaa.dcefc8"]]},{"id":"47c599f6.5603e8","type":"delay","z":"f463d72d.5e858","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":720,"wires":[["4221610a.bbbb1"]]},{"id":"1dc18e0f.394292","type":"delay","z":"f463d72d.5e858","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":880,"wires":[["a49963e5.330da"]]},{"id":"f893153f.4ae2c8","type":"delay","z":"f463d72d.5e858","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":940,"wires":[["205a99d1.3db0b6"]]},{"id":"94874e98.d2c12","type":"mqtt in","z":"83091c5a.91d39","name":"Termohlavice loznice prizemi","topic":"shellies/prizemi_trv_loznice/info","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":180,"y":240,"wires":[["7f5a806c.bd992","4aed6276.b2071c","ae94c00a.44204","f9f27020.664ca","8c2a3fc7.960e4","ed7ac228.71385","3e20aa96.d82be6"]]},{"id":"7f5a806c.bd992","type":"change","z":"83091c5a.91d39","name":"Battery status","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.bat.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":80,"wires":[["4488573c.da3608","db93aa5f.80ff98"]]},{"id":"4488573c.da3608","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":120,"wires":[]},{"id":"4aed6276.b2071c","type":"change","z":"83091c5a.91d39","name":"Valve position","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].pos","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["f40af304.95f66","9b034a92.a184f8","5228fef6.7dd87"]]},{"id":"f9f27020.664ca","type":"change","z":"83091c5a.91d39","name":"Temperature setpoint","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].target_t.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[["19884765.ac1679","436c1c6c.c51234","3f6e46aa.38e6fa"]]},{"id":"f40af304.95f66","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"19884765.ac1679","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":320,"wires":[]},{"id":"b3e588f6.da2838","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":420,"wires":[]},{"id":"ae94c00a.44204","type":"change","z":"83091c5a.91d39","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].tmp.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":380,"wires":[["b3e588f6.da2838","c534271b.cfa838","c3fb6c5c.6455a"]]},{"id":"1e1c4874.9062a8","type":"mqtt in","z":"83091c5a.91d39","name":"Termohlavice obyvak prizemi","topic":"shellies/prizemi_trv_obyvak/info","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":720,"wires":[["5a74b946.131eb8","bc1b77f1.2b2e48","a3bfe0a9.cab34","a4c9537.9d2a6b","3e9c0fad.22003","3a5a0f01.bf8df","99b861f8.dad6c"]]},{"id":"5a74b946.131eb8","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":230,"y":660,"wires":[]},{"id":"bc1b77f1.2b2e48","type":"change","z":"83091c5a.91d39","name":"Battery status","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.bat.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":540,"wires":[["4b13d55b.adbe0c","edacbfac.e9bd6"]]},{"id":"4b13d55b.adbe0c","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":580,"wires":[]},{"id":"a3bfe0a9.cab34","type":"change","z":"83091c5a.91d39","name":"Valve position","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].pos","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":640,"wires":[["1f0d7105.3e93bf","b64c7365.02b8a","64f8a2af.94925c"]]},{"id":"3e9c0fad.22003","type":"change","z":"83091c5a.91d39","name":"Temperature setpoint","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].target_t.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":740,"wires":[["b454872b.d77e08","77dfc7a0.8bae78","868ad50c.18ecc8"]]},{"id":"1f0d7105.3e93bf","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":680,"wires":[]},{"id":"b454872b.d77e08","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":780,"wires":[]},{"id":"254be11c.ff397e","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":900,"wires":[]},{"id":"a4c9537.9d2a6b","type":"change","z":"83091c5a.91d39","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].tmp.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":860,"wires":[["254be11c.ff397e","63826b8c.08a9f4","bac404a0.090388"]]},{"id":"52922214.e7cccc","type":"mqtt in","z":"83091c5a.91d39","name":"Termohlavice kuchyne prizemi","topic":"shellies/prizemi_trv_kuchyne/info","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":180,"y":1260,"wires":[["9b26ed62.aeb5d","b7e9586.88fd7a8","d3a158c1.bc07b8","4035a831.d52d18","7d0dbc2d.ec14e4","31cdd399.96a49c","8a529da6.8d0a8"]]},{"id":"9b26ed62.aeb5d","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":210,"y":1180,"wires":[]},{"id":"b7e9586.88fd7a8","type":"change","z":"83091c5a.91d39","name":"Battery status","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.bat.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1080,"wires":[["b8184050.c8c8f","c5a28f14.954b1"]]},{"id":"b8184050.c8c8f","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":1120,"wires":[]},{"id":"d3a158c1.bc07b8","type":"change","z":"83091c5a.91d39","name":"Valve position","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].pos","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1180,"wires":[["efe32882.af5318","7d55e996.3548a8","5dc69617.6715f8"]]},{"id":"7d0dbc2d.ec14e4","type":"change","z":"83091c5a.91d39","name":"Temperature setpoint","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].target_t.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1280,"wires":[["becf0a58.84e068","66423fac.5148","c74943fd.7d897"]]},{"id":"efe32882.af5318","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":1220,"wires":[]},{"id":"becf0a58.84e068","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":1320,"wires":[]},{"id":"e6703f6e.d1f9d","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":1420,"wires":[]},{"id":"4035a831.d52d18","type":"change","z":"83091c5a.91d39","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].tmp.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1380,"wires":[["e6703f6e.d1f9d","14d9ef8e.29d45","7e2f13fd.0bca9c"]]},{"id":"c534271b.cfa838","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Teplota loznice","measurement":"prizemi_loznice_teplota_aktualni","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":380,"wires":[]},{"id":"63826b8c.08a9f4","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Teplota obyvak","measurement":"prizemi_obyvak_teplota_aktualni","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":860,"wires":[]},{"id":"14d9ef8e.29d45","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Teplota kuchyn","measurement":"prizemi_kuchyne_teplota_aktualni","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":1380,"wires":[]},{"id":"436c1c6c.c51234","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Teplota zadana loznice","measurement":"prizemi_loznice_teplota_zadana","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":760,"y":280,"wires":[]},{"id":"9b034a92.a184f8","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Otevreni ventilu loznice","measurement":"prizemi_loznice_otevreni_ventilu","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":770,"y":180,"wires":[]},{"id":"db93aa5f.80ff98","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Baterie loznice","measurement":"prizemi_loznice_baterie","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":80,"wires":[]},{"id":"edacbfac.e9bd6","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Baterie obyvak","measurement":"prizemi_obyvak_baterie","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":540,"wires":[]},{"id":"b64c7365.02b8a","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Otevreni ventilu obyvak","measurement":"prizemi_obyvak_otevreni_ventilu","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":770,"y":640,"wires":[]},{"id":"77dfc7a0.8bae78","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Teplota zadana obyvak","measurement":"prizemi_obyvak_teplota_zadana","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":760,"y":740,"wires":[]},{"id":"8c2a3fc7.960e4","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":210,"y":180,"wires":[]},{"id":"c5a28f14.954b1","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Baterie kuchyne","measurement":"prizemi_kuchyne_baterie","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":1080,"wires":[]},{"id":"7d55e996.3548a8","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Otevreni ventilu obyvak","measurement":"prizemi_kuchyne_otevreni_ventilu","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":770,"y":1180,"wires":[]},{"id":"66423fac.5148","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Teplota zadana obyvak","measurement":"prizemi_kuchyne_teplota_zadana","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":760,"y":1280,"wires":[]},{"id":"ed7ac228.71385","type":"function","z":"83091c5a.91d39","name":"Heat request","func":"var setpoint = msg.payload.thermostats[0].target_t.value;\nvar actual = msg.payload.thermostats[0].tmp.value;\nvar delta = setpoint - actual;\n\n\nif (delta > 0.5) {\n  msg.payload = 1;\n} else {\n  msg.payload = 0;\n}\n\nmsg.timestamp = msg.payload.unixtime\n\nglobal.set(\"trv_prizemi_loznice_pozadavek\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":240,"wires":[["9cb7a721.348428","5d761f9f.34888"]]},{"id":"9cb7a721.348428","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1170,"y":240,"wires":[]},{"id":"5d761f9f.34888","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Pozadavek na topeni loznice","measurement":"prizemi_loznice_pozadavek","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1220,"y":180,"wires":[]},{"id":"3a5a0f01.bf8df","type":"function","z":"83091c5a.91d39","name":"Heat request","func":"var setpoint = msg.payload.thermostats[0].target_t.value;\nvar actual = msg.payload.thermostats[0].tmp.value;\nvar delta = setpoint - actual;\n\nif (delta > 0.5) {\n  msg.payload = 2;\n} else {\n  msg.payload = 0;\n}\n\nmsg.timestamp = msg.payload.unixtime\n\nglobal.set(\"trv_prizemi_obyvak_pozadavek\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":720,"wires":[["b7d55375.5ac69","fdf3aee0.fb754"]]},{"id":"b7d55375.5ac69","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1190,"y":720,"wires":[]},{"id":"fdf3aee0.fb754","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Pozadavek na topeni obyvak","measurement":"prizemi_obyvak_pozadavek","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1240,"y":660,"wires":[]},{"id":"31cdd399.96a49c","type":"function","z":"83091c5a.91d39","name":"Heat request","func":"var setpoint = msg.payload.thermostats[0].target_t.value;\nvar actual = msg.payload.thermostats[0].tmp.value;\nvar delta = setpoint - actual;\n\nif (delta > 0.5) {\n  msg.payload = 1;\n} else {\n  msg.payload = 0;\n}\n\nmsg.timestamp = msg.payload.unixtime\n\nglobal.set(\"trv_prizemi_kuchyne_pozadavek\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":1260,"wires":[["10166243.f310ae","87670b4d.f1ede8"]]},{"id":"10166243.f310ae","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1170,"y":1260,"wires":[]},{"id":"87670b4d.f1ede8","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Pozadavek na topeni kuchyne","measurement":"prizemi_kuchyne_pozadavek","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1230,"y":1200,"wires":[]},{"id":"1538576e.4c3ef9","type":"mqtt in","z":"83091c5a.91d39","name":"Termohlavice severni pokoj prizemi","topic":"shellies/prizemi_trv_pokoj_sever/info","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":1800,"wires":[["3e201d20.543522","ad80f10d.83dd","53dd384.3f4c7c8","bf690a40.7062a8","3eb126a5.e8dc5a","25f66540.41a64a","26b54ec3.60c262"]]},{"id":"3e201d20.543522","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":250,"y":1720,"wires":[]},{"id":"ad80f10d.83dd","type":"change","z":"83091c5a.91d39","name":"Battery status","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.bat.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1620,"wires":[["691f05f6.16212c","c47ad5.28be1528"]]},{"id":"691f05f6.16212c","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":1660,"wires":[]},{"id":"53dd384.3f4c7c8","type":"change","z":"83091c5a.91d39","name":"Valve position","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].pos","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1720,"wires":[["27b6b439.4d02ec","5210530f.897f6c","ca427182.1286b"]]},{"id":"3eb126a5.e8dc5a","type":"change","z":"83091c5a.91d39","name":"Temperature setpoint","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].target_t.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1820,"wires":[["b57c1759.419678","e855a575.1af5f8","da5616eb.7e9628"]]},{"id":"27b6b439.4d02ec","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":1760,"wires":[]},{"id":"b57c1759.419678","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":1860,"wires":[]},{"id":"2a02b772.66b7f8","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":1960,"wires":[]},{"id":"bf690a40.7062a8","type":"change","z":"83091c5a.91d39","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].tmp.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1920,"wires":[["2a02b772.66b7f8","d5b98481.cf2cc8","4ab3ec2e.900164"]]},{"id":"d5b98481.cf2cc8","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Teplota pokoj sever","measurement":"prizemi_pokoj_sever_teplota_aktualni","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":750,"y":1920,"wires":[]},{"id":"c47ad5.28be1528","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Baterie pokoj sever","measurement":"prizemi_pokoj_sever_baterie","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":750,"y":1620,"wires":[]},{"id":"5210530f.897f6c","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Otevreni ventilu pokoj sever","measurement":"prizemi_pokoj_sever_otevreni_ventilu","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":780,"y":1720,"wires":[]},{"id":"e855a575.1af5f8","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Teplota zadana pokoj sever","measurement":"prizemi_pokoj_sever_teplota_zadana","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":780,"y":1820,"wires":[]},{"id":"25f66540.41a64a","type":"function","z":"83091c5a.91d39","name":"Heat request","func":"var setpoint = msg.payload.thermostats[0].target_t.value;\nvar actual = msg.payload.thermostats[0].tmp.value;\nvar delta = setpoint - actual;\n\nif (delta > 0.5) {\n  msg.payload = 1.5;\n} else {\n  msg.payload = 0;\n}\n\nmsg.timestamp = msg.payload.unixtime\n\nglobal.set(\"trv_prizemi_pokoj_sever_pozadavek\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":1800,"wires":[["48f5650b.6491cc","4111fe58.e47ff"]]},{"id":"48f5650b.6491cc","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1210,"y":1800,"wires":[]},{"id":"4111fe58.e47ff","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Pozadavek na topeni pokoj sever","measurement":"prizemi_pokoj_sever_pozadavek","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1260,"y":1740,"wires":[]},{"id":"cb9b1006.ebebe","type":"mqtt in","z":"83091c5a.91d39","name":"Termohlavice jizni pokoj prizemi","topic":"shellies/prizemi_trv_pokoj_jih/info","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":150,"y":2260,"wires":[["b8566bba.366648","9c230fe0.40784","39709e8.1232662","f3a28d6b.e2c4d","fdeaa524.881858","4e3128ed.51b698","3227a334.ab4b8c"]]},{"id":"b8566bba.366648","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":190,"y":2200,"wires":[]},{"id":"9c230fe0.40784","type":"change","z":"83091c5a.91d39","name":"Battery status","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.bat.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":2080,"wires":[["6c3e9a91.2b9b34","5a78510.eff11b"]]},{"id":"6c3e9a91.2b9b34","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":690,"y":2120,"wires":[]},{"id":"39709e8.1232662","type":"change","z":"83091c5a.91d39","name":"Valve position","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].pos","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":2180,"wires":[["906f92dc.9412a","cc171770.d24388","50322c1.018e4d4"]]},{"id":"fdeaa524.881858","type":"change","z":"83091c5a.91d39","name":"Temperature setpoint","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].target_t.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2280,"wires":[["44ed3453.8b7d5c","f469d07b.bde4","2e5e08f4.d7be38"]]},{"id":"906f92dc.9412a","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":690,"y":2220,"wires":[]},{"id":"44ed3453.8b7d5c","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":690,"y":2320,"wires":[]},{"id":"2a4a9ad.4a26366","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":690,"y":2420,"wires":[]},{"id":"f3a28d6b.e2c4d","type":"change","z":"83091c5a.91d39","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].tmp.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2380,"wires":[["2a4a9ad.4a26366","71ff8502.81b36c","be8191cc.1a1e"]]},{"id":"71ff8502.81b36c","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Teplota pokoj sever","measurement":"prizemi_pokoj_jih_teplota_aktualni","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":710,"y":2380,"wires":[]},{"id":"5a78510.eff11b","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Baterie pokoj jih","measurement":"prizemi_pokoj_jih_baterie","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":700,"y":2080,"wires":[]},{"id":"cc171770.d24388","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Otevreni ventilu pokoj jih","measurement":"prizemi_pokoj_jih_otevreni_ventilu","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":2180,"wires":[]},{"id":"f469d07b.bde4","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Teplota zadana pokoj jih","measurement":"prizemi_pokoj_jih_teplota_zadana","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":2280,"wires":[]},{"id":"4e3128ed.51b698","type":"function","z":"83091c5a.91d39","name":"Heat request","func":"var setpoint = msg.payload.thermostats[0].target_t.value;\nvar actual = msg.payload.thermostats[0].tmp.value;\nvar delta = setpoint - actual;\n\nif (delta > 0.5) {\n  msg.payload = 1;\n} else {\n  msg.payload = 0;\n}\n\nmsg.timestamp = msg.payload.unixtime\n\nglobal.set(\"trv_prizemi_pokoj_jih_pozadavek\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":2260,"wires":[["7bbfff84.52f45","2aac363f.1b4ada"]]},{"id":"7bbfff84.52f45","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1130,"y":2260,"wires":[]},{"id":"2aac363f.1b4ada","type":"influxdb out","z":"83091c5a.91d39","influxdb":"7630b6e5.868308","name":"Pozadavek na topeni pokoj jih","measurement":"prizemi_pokoj_jih_pozadavek","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1190,"y":2200,"wires":[]},{"id":"78a87c42.989944","type":"inject","z":"daa9a2a.756cc6","name":"20 min trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1200","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":210,"y":300,"wires":[["db0c59e5.5dc568","184ae45.bb5781c"]]},{"id":"db0c59e5.5dc568","type":"function","z":"daa9a2a.756cc6","name":"Scitac pozadavku","func":"var prizemi_loznice = global.get(\"trv_prizemi_loznice_pozadavek\");\nvar prizemi_obyvak = global.get(\"trv_prizemi_obyvak_pozadavek\");\nvar prizemi_kuchyne = global.get(\"trv_prizemi_kuchyne_pozadavek\");\nvar prizemi_pokoj_sever = global.get(\"trv_prizemi_pokoj_sever_pozadavek\");\nvar prizemi_pokoj_jih = global.get(\"trv_prizemi_pokoj_jih_pozadavek\");\n\nmsg.payload = prizemi_loznice + prizemi_obyvak + prizemi_kuchyne + prizemi_pokoj_jih + prizemi_pokoj_sever;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":300,"wires":[["a4b28449.048a08","f7f1abfe.fc2848","2ae62d2c.c07992","89e51621.dc2148"]]},{"id":"a4b28449.048a08","type":"debug","z":"daa9a2a.756cc6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":670,"y":240,"wires":[]},{"id":"f7f1abfe.fc2848","type":"influxdb out","z":"daa9a2a.756cc6","influxdb":"7630b6e5.868308","name":"Kotel - pozadavek","measurement":"kotel_pozadavek","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":670,"y":180,"wires":[]},{"id":"95fb0f21.e09b1","type":"mqtt in","z":"daa9a2a.756cc6","name":"","topic":"stat/kotel/POWER","qos":"1","datatype":"auto","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":210,"y":400,"wires":[["ba7095f5.b8c368","1ea1769b.864179"]]},{"id":"9e5882b4.8897f","type":"mqtt out","z":"daa9a2a.756cc6","name":"Kotel - spinani","topic":"cmnd/kotel/STATE/POWER","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":1020,"y":440,"wires":[]},{"id":"ba7095f5.b8c368","type":"debug","z":"daa9a2a.756cc6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":430,"y":400,"wires":[]},{"id":"72528728.04dad8","type":"inject","z":"daa9a2a.756cc6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":790,"y":400,"wires":[["9e5882b4.8897f"]]},{"id":"a42d653b.ab3118","type":"inject","z":"daa9a2a.756cc6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":790,"y":480,"wires":[["9e5882b4.8897f"]]},{"id":"158bf02d.a6017","type":"change","z":"daa9a2a.756cc6","name":"","rules":[{"t":"set","p":"kotel_topi","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":300,"wires":[[]]},{"id":"2ae62d2c.c07992","type":"function","z":"daa9a2a.756cc6","name":"","func":"var kotel_topi = global.get('kotel_topi');\n\nif (kotel_topi == \"OFF\" && msg.payload > 2) {\n    msg.payload = \"ON\";\n} else if (kotel_topi == \"ON\" && msg.payload > 1) {\n    msg.payload = \"ON\";\n} else {\n    msg.payload = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":300,"wires":[["e4d35d66.9c224","158bf02d.a6017","9e5882b4.8897f"]]},{"id":"e4d35d66.9c224","type":"debug","z":"daa9a2a.756cc6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1010,"y":240,"wires":[]},{"id":"38ac191b.c68016","type":"influxdb out","z":"daa9a2a.756cc6","influxdb":"7630b6e5.868308","name":"Kotel - aktivni","measurement":"kotel_topi","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":700,"y":580,"wires":[]},{"id":"c3fb6c5c.6455a","type":"mqtt out","z":"83091c5a.91d39","name":"Teplota aktual","topic":"shellies/prizemi_trv_loznice/teplota_aktual","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":940,"y":400,"wires":[]},{"id":"bac404a0.090388","type":"mqtt out","z":"83091c5a.91d39","name":"Teplota aktual","topic":"shellies/prizemi_trv_obyvak/teplota_aktual","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":940,"y":880,"wires":[]},{"id":"7e2f13fd.0bca9c","type":"mqtt out","z":"83091c5a.91d39","name":"Teplota aktual","topic":"shellies/prizemi_trv_kuchyne/teplota_aktual","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":980,"y":1400,"wires":[]},{"id":"4ab3ec2e.900164","type":"mqtt out","z":"83091c5a.91d39","name":"Teplota aktual","topic":"shellies/prizemi_trv_pokoj_sever/teplota_aktual","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":1000,"y":1940,"wires":[]},{"id":"be8191cc.1a1e","type":"mqtt out","z":"83091c5a.91d39","name":"Teplota aktual","topic":"shellies/prizemi_trv_pokoj_jih/teplota_aktual","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":980,"y":2400,"wires":[]},{"id":"48d4a6f2.d9a3a8","type":"mqtt out","z":"83091c5a.91d39","name":"Init obyvak","topic":"shellies/prizemi_trv_obyvak/thermostat/0/command","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":750,"y":2600,"wires":[]},{"id":"34ff47b4.920498","type":"mqtt out","z":"83091c5a.91d39","name":"Init kuchyne","topic":"shellies/prizemi_trv_kuchyne/thermostat/0/command","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":750,"y":2680,"wires":[]},{"id":"4f0ea878.711a58","type":"mqtt out","z":"83091c5a.91d39","name":"init loznice","topic":"shellies/prizemi_trv_loznice/thermostat/0/command","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":750,"y":2740,"wires":[]},{"id":"3e8c2c98.02ed04","type":"mqtt out","z":"83091c5a.91d39","name":"init pokoj jih","topic":"shellies/prizemi_trv_pokoj_jih/thermostat/0/command","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":750,"y":2800,"wires":[]},{"id":"873c9a37.9f32b8","type":"mqtt out","z":"83091c5a.91d39","name":"init pokoj sever","topic":"shellies/prizemi_trv_pokoj_sever/thermostat/0/command","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":760,"y":2860,"wires":[]},{"id":"3f6e46aa.38e6fa","type":"mqtt out","z":"83091c5a.91d39","name":"Teplota SP","topic":"shellies/prizemi_trv_loznice/teplota_zadana","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":930,"y":320,"wires":[]},{"id":"868ad50c.18ecc8","type":"mqtt out","z":"83091c5a.91d39","name":"Teplota SP","topic":"shellies/prizemi_trv_obyvak/teplota_zadana","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":930,"y":780,"wires":[]},{"id":"c74943fd.7d897","type":"mqtt out","z":"83091c5a.91d39","name":"Teplota SP","topic":"shellies/prizemi_trv_kuchyne/teplota_zadana","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":970,"y":1320,"wires":[]},{"id":"da5616eb.7e9628","type":"mqtt out","z":"83091c5a.91d39","name":"Teplota SP","topic":"shellies/prizemi_trv_pokoj_sever/teplota_zadana","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":990,"y":1860,"wires":[]},{"id":"2e5e08f4.d7be38","type":"mqtt out","z":"83091c5a.91d39","name":"Teplota SP","topic":"shellies/prizemi_trv_pokoj_jih/teplota_zadana","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":970,"y":2320,"wires":[]},{"id":"5228fef6.7dd87","type":"mqtt out","z":"83091c5a.91d39","name":"Otevreni ventilu","topic":"shellies/prizemi_trv_loznice/otevreni","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":1000,"y":140,"wires":[]},{"id":"64f8a2af.94925c","type":"mqtt out","z":"83091c5a.91d39","name":"Otevreni ventilu","topic":"shellies/prizemi_trv_obyvak/otevreni","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":980,"y":660,"wires":[]},{"id":"5dc69617.6715f8","type":"mqtt out","z":"83091c5a.91d39","name":"Otevreni ventilu","topic":"shellies/prizemi_trv_kuchyne/otevreni","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":980,"y":1200,"wires":[]},{"id":"ca427182.1286b","type":"mqtt out","z":"83091c5a.91d39","name":"Otevreni ventilu","topic":"shellies/prizemi_trv_pokoj_sever/otevreni","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":1000,"y":1740,"wires":[]},{"id":"50322c1.018e4d4","type":"mqtt out","z":"83091c5a.91d39","name":"Otevreni ventilu","topic":"shellies/prizemi_trv_pokoj_jih/otevreni","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":940,"y":2200,"wires":[]},{"id":"1ea1769b.864179","type":"delay","z":"daa9a2a.756cc6","name":"1 msg in 5 min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":500,"wires":[["38ac191b.c68016"]]},{"id":"89e51621.dc2148","type":"mqtt out","z":"daa9a2a.756cc6","name":"Kotel - pocet pozadavku","topic":"kotel/pocet_pozadavku","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":690,"y":120,"wires":[]},{"id":"184ae45.bb5781c","type":"debug","z":"daa9a2a.756cc6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":410,"y":240,"wires":[]},{"id":"5b45767c.d36b78","type":"inject","z":"83091c5a.91d39","name":"Obyvak","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"announce","payloadType":"str","x":400,"y":2600,"wires":[["48d4a6f2.d9a3a8","34ff47b4.920498","4f0ea878.711a58","3e8c2c98.02ed04","873c9a37.9f32b8"]]},{"id":"e33bd1c6.02d96","type":"comment","z":"83091c5a.91d39","name":"Power loss refresh","info":"","x":600,"y":2540,"wires":[]},{"id":"43cc06c7.18d428","type":"comment","z":"83091c5a.91d39","name":"Nastaveni profilu - byt prizemi","info":"1 - standardni zimni profil\n4 - zimni dovolena\n5 - letni provoz","x":490,"y":2960,"wires":[]},{"id":"858919a7.a3a6d8","type":"mqtt in","z":"83091c5a.91d39","name":"Pozadovany teplotni profil","topic":"shellies/prizemi_trvs_byt/profil","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":230,"y":3120,"wires":[["ea828831.424d68"]]},{"id":"1b7311dd.f780ae","type":"mqtt out","z":"83091c5a.91d39","name":"profil obyvak","topic":"shellies/prizemi_trv_obyvak/thermostat/0/command/schedule_profile","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":650,"y":3120,"wires":[]},{"id":"352334f5.8aaacc","type":"mqtt out","z":"83091c5a.91d39","name":"profil kuchyne","topic":"shellies/prizemi_trv_kuchyne/thermostat/0/command/schedule_profile","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":640,"y":3200,"wires":[]},{"id":"8872494c.bc8438","type":"mqtt out","z":"83091c5a.91d39","name":"profil loznice","topic":"shellies/prizemi_trv_loznice/thermostat/0/command/schedule_profile","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":630,"y":3260,"wires":[]},{"id":"ea828831.424d68","type":"debug","z":"83091c5a.91d39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":470,"y":3060,"wires":[]},{"id":"3e20aa96.d82be6","type":"change","z":"83091c5a.91d39","name":"Temp profile","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].schedule_profile","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":20,"wires":[["b3c2370a.de1fc8"]]},{"id":"b3c2370a.de1fc8","type":"mqtt out","z":"83091c5a.91d39","name":"Teplotni profil","topic":"shellies/prizemi_trv_loznice/teplotni_profil","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":730,"y":20,"wires":[]},{"id":"99b861f8.dad6c","type":"change","z":"83091c5a.91d39","name":"Temp profile","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].schedule_profile","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":480,"wires":[["daecf34b.f0e6c"]]},{"id":"daecf34b.f0e6c","type":"mqtt out","z":"83091c5a.91d39","name":"Teplotni profil","topic":"shellies/prizemi_trv_obyvak/teplotni_profil","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":730,"y":480,"wires":[]},{"id":"8a529da6.8d0a8","type":"change","z":"83091c5a.91d39","name":"Temp profile","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].schedule_profile","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1020,"wires":[["a1150aa0.f8fca8"]]},{"id":"a1150aa0.f8fca8","type":"mqtt out","z":"83091c5a.91d39","name":"Teplorni profil","topic":"shellies/prizemi_trv_kuchyne/teplotni_profil","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":730,"y":1020,"wires":[]},{"id":"26b54ec3.60c262","type":"change","z":"83091c5a.91d39","name":"Temp profile","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].schedule_profile","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1560,"wires":[["57f2d1a0.32d8b"]]},{"id":"57f2d1a0.32d8b","type":"mqtt out","z":"83091c5a.91d39","name":"Teplotni profil","topic":"shellies/prizemi_trv_pokoj_sever/teplotni_profil","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":730,"y":1560,"wires":[]},{"id":"3227a334.ab4b8c","type":"change","z":"83091c5a.91d39","name":"Temp profile","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermostats[0].schedule_profile","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2040,"wires":[["d2c0c78b.c928e8"]]},{"id":"d2c0c78b.c928e8","type":"mqtt out","z":"83091c5a.91d39","name":"Teplotni proifl","topic":"shellies/prizemi_trv_pokoj_jih/teplotni_profil","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":690,"y":2040,"wires":[]},{"id":"33087a23.757966","type":"mqtt in","z":"9198b982.bc7038","name":"L1 voltage","topic":"shellies/shellyem3_dum/emeter/0/voltage","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":140,"y":60,"wires":[["2708c350.61cddc"]],"outputLabels":["L1 line voltage [V]"],"icon":"node-red-dashboard/ui_gauge.png"},{"id":"2708c350.61cddc","type":"influxdb out","z":"9198b982.bc7038","influxdb":"d1ebb08c.52989","name":"L1 Napeti","measurement":"dum_l1_napeti","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":400,"y":60,"wires":[]},{"id":"d7011986.2c54a8","type":"mqtt in","z":"9198b982.bc7038","name":"L2 voltage","topic":"shellies/shellyem3_dum/emeter/1/voltage","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":140,"y":120,"wires":[["dc06fe58.42b24"]]},{"id":"dc06fe58.42b24","type":"influxdb out","z":"9198b982.bc7038","influxdb":"d1ebb08c.52989","name":"L2 Napeti","measurement":"dum_l2_napeti","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":400,"y":120,"wires":[]},{"id":"a7421158.e4a45","type":"mqtt in","z":"9198b982.bc7038","name":"L3 voltage","topic":"shellies/shellyem3_dum/emeter/2/voltage","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":140,"y":180,"wires":[["87b89dfa.70e64"]]},{"id":"87b89dfa.70e64","type":"influxdb out","z":"9198b982.bc7038","influxdb":"d1ebb08c.52989","name":"L3 Napeti","measurement":"dum_l3_napeti","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":400,"y":180,"wires":[]},{"id":"1bb1cc77.7aef44","type":"mqtt in","z":"9198b982.bc7038","name":"L1 current","topic":"shellies/shellyem3_dum/emeter/0/current","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":140,"y":260,"wires":[["c09f1ab9.6b6b48"]]},{"id":"c09f1ab9.6b6b48","type":"influxdb out","z":"9198b982.bc7038","influxdb":"d1ebb08c.52989","name":"L1 Proud","measurement":"dum_l1_proud","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":400,"y":260,"wires":[]},{"id":"37517b1.b3e4984","type":"mqtt in","z":"9198b982.bc7038","name":"L2 current","topic":"shellies/shellyem3_dum/emeter/1/current","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":140,"y":320,"wires":[["beff18fa.6be8e8"]]},{"id":"beff18fa.6be8e8","type":"influxdb out","z":"9198b982.bc7038","influxdb":"d1ebb08c.52989","name":"L2 Proud","measurement":"dum_l2_proud","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":400,"y":320,"wires":[]},{"id":"8c6fc264.3eb7c","type":"mqtt in","z":"9198b982.bc7038","name":"L3 current","topic":"shellies/shellyem3_dum/emeter/2/current","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":140,"y":380,"wires":[["5c54e0de.2bf17"]]},{"id":"5c54e0de.2bf17","type":"influxdb out","z":"9198b982.bc7038","influxdb":"d1ebb08c.52989","name":"L3 Proud","measurement":"dum_l3_proud","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":400,"y":380,"wires":[]},{"id":"6f930b7f.e0f084","type":"mqtt in","z":"9198b982.bc7038","name":"L1 power","topic":"shellies/shellyem3_dum/emeter/0/power","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":120,"y":460,"wires":[["83ad2761.51fd48","83d920c7.9d984"]]},{"id":"83ad2761.51fd48","type":"influxdb out","z":"9198b982.bc7038","influxdb":"d1ebb08c.52989","name":"L1 Vykon","measurement":"dum_l1_vykon","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":400,"y":460,"wires":[]},{"id":"faa5222d.3c4af","type":"mqtt in","z":"9198b982.bc7038","name":"L2 power","topic":"shellies/shellyem3_dum/emeter/1/power","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":120,"y":580,"wires":[["d11f8d50.5e49b","83d920c7.9d984"]]},{"id":"d11f8d50.5e49b","type":"influxdb out","z":"9198b982.bc7038","influxdb":"d1ebb08c.52989","name":"L2 Vykon","measurement":"dum_l2_vykon","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":380,"y":580,"wires":[]},{"id":"61d9e295.64d61c","type":"mqtt in","z":"9198b982.bc7038","name":"L3 power","topic":"shellies/shellyem3_dum/emeter/2/power","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":120,"y":640,"wires":[["13756a08.9744e6","83d920c7.9d984"]]},{"id":"13756a08.9744e6","type":"influxdb out","z":"9198b982.bc7038","influxdb":"d1ebb08c.52989","name":"L3 Vykon","measurement":"dum_l3_vykon","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":380,"y":640,"wires":[]},{"id":"55469566.18123c","type":"mqtt in","z":"9198b982.bc7038","name":"L1 total","topic":"shellies/shellyem3_dum/emeter/0/total","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":110,"y":720,"wires":[["4db34682.276588","1a6c0fe2.a30c1"]],"outputLabels":["L1 total energy consumption [Wh]"]},{"id":"4aa72419.df49bc","type":"influxdb out","z":"9198b982.bc7038","influxdb":"d1ebb08c.52989","name":"L1 Spotreba Wh","measurement":"dum_l1_spotreba","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":580,"y":720,"wires":[]},{"id":"d8af298e.c47ef8","type":"mqtt in","z":"9198b982.bc7038","name":"L2 total","topic":"shellies/shellyem3_dum/emeter/1/total","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":110,"y":880,"wires":[["4db34682.276588","7aa6b171.29a25"]],"outputLabels":["L2 total energy consumption [Wh]"]},{"id":"5c68a79d.655dc8","type":"influxdb out","z":"9198b982.bc7038","influxdb":"d1ebb08c.52989","name":"L2 spotreba Wh","measurement":"dum_l2_spotreba","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":540,"y":880,"wires":[]},{"id":"eac3515.c946ab","type":"mqtt in","z":"9198b982.bc7038","name":"L3 total","topic":"shellies/shellyem3_dum/emeter/2/total","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":110,"y":940,"wires":[["4db34682.276588","16b97aed.d12e85"]],"outputLabels":["L3 total energy consumption [Wh]"]},{"id":"eee5dd78.53e74","type":"influxdb out","z":"9198b982.bc7038","influxdb":"d1ebb08c.52989","name":"L3 Spotreba Wh","measurement":"dum_l3_spotreba","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":540,"y":940,"wires":[]},{"id":"83d920c7.9d984","type":"join","z":"9198b982.bc7038","name":"Powers","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":400,"y":520,"wires":[["cd09f140.9d6a9"]]},{"id":"cd09f140.9d6a9","type":"function","z":"9198b982.bc7038","name":"Total power","func":"\nvar result = msg.payload[0] + msg.payload[1] + msg.payload[2]\nmsg.payload = result\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":520,"wires":[["c0003d1d.e1974","94d3b95d.1c79e8","8ca16664.12d5f8"]]},{"id":"c0003d1d.e1974","type":"influxdb out","z":"9198b982.bc7038","influxdb":"d1ebb08c.52989","name":"Celkovy vykon","measurement":"dum_celkovy_vykon","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":860,"y":520,"wires":[]},{"id":"4db34682.276588","type":"join","z":"9198b982.bc7038","name":"Consumptions","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":320,"y":800,"wires":[["5ead87a6.dec858"]]},{"id":"5ead87a6.dec858","type":"function","z":"9198b982.bc7038","name":"Total consumption ","func":"\nvar result = msg.payload[0] + msg.payload[1] + msg.payload[2]\nmsg.payload = result\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":800,"wires":[["35a18fec.2f566"]]},{"id":"8a74e133.49de3","type":"trigger","z":"9198b982.bc7038","name":"HDO Watchdog","op1":"low","op2":"high","op1type":"str","op2type":"str","duration":"60","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":340,"y":1060,"wires":[["94613688.edc068"]],"inputLabels":["HDO sensor"],"outputLabels":["HDO Low watchdog"]},{"id":"35a18fec.2f566","type":"delay","z":"9198b982.bc7038","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":750,"y":800,"wires":[["bca6c845.c52e68"]]},{"id":"133638da.cec587","type":"mqtt in","z":"9198b982.bc7038","name":"HDO Low Active","topic":"shellies/hdo_signal/input/0","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":140,"y":1060,"wires":[["8a74e133.49de3"]],"outputLabels":["HDO low active"]},{"id":"94d3b95d.1c79e8","type":"change","z":"9198b982.bc7038","name":"","rules":[{"t":"set","p":"total_power_dum","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":480,"wires":[[]]},{"id":"8ca16664.12d5f8","type":"debug","z":"9198b982.bc7038","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":860,"y":580,"wires":[]},{"id":"f2e0ebd5.3190f8","type":"influxdb out","z":"9198b982.bc7038","influxdb":"d1ebb08c.52989","name":"Celkova spotreba RAW","measurement":"dum_celkova_spotreba","precision":"s","retentionPolicy":"three_months","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1250,"y":800,"wires":[]},{"id":"6c868626.21e288","type":"debug","z":"9198b982.bc7038","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1210,"y":740,"wires":[]},{"id":"bca6c845.c52e68","type":"function","z":"9198b982.bc7038","name":"Assembler","func":"var total = msg.payload\nvar hdo = global.get('hdo_state')\n\nmsg.payload = {\n    celkova_spotreba_Wh: total,\n    hdo_tarif: hdo,\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":800,"wires":[["6c868626.21e288","f2e0ebd5.3190f8"]]},{"id":"94613688.edc068","type":"debug","z":"9198b982.bc7038","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":530,"y":1060,"wires":[]},{"id":"d898fb6f.2f32e8","type":"inject","z":"9198b982.bc7038","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1020,"wires":[["8a74e133.49de3"]]},{"id":"1a6c0fe2.a30c1","type":"delay","z":"9198b982.bc7038","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":720,"wires":[["4aa72419.df49bc"]]},{"id":"7aa6b171.29a25","type":"delay","z":"9198b982.bc7038","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":880,"wires":[["5c68a79d.655dc8"]]},{"id":"16b97aed.d12e85","type":"delay","z":"9198b982.bc7038","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":940,"wires":[["eee5dd78.53e74"]]},{"id":"ae0eeb5f.b12818","type":"mqtt in","z":"81980030.04e6","name":"L1 current","topic":"shellies/shellyem3_dum/emeter/0/current","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":120,"wires":[["14950d2f.4c2883"]]},{"id":"d83ba368.604e5","type":"mqtt in","z":"81980030.04e6","name":"L2 current","topic":"shellies/shellyem3_dum/emeter/1/current","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":180,"wires":[["14950d2f.4c2883"]]},{"id":"9529eff.c68921","type":"mqtt in","z":"81980030.04e6","name":"L3 current","topic":"shellies/shellyem3_dum/emeter/2/current","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":240,"wires":[["14950d2f.4c2883"]]},{"id":"eaabb381.6f937","type":"comment","z":"81980030.04e6","name":"Dum","info":"","x":190,"y":60,"wires":[]},{"id":"3e23efaa.b6624","type":"mqtt in","z":"81980030.04e6","name":"L1 current","topic":"shellies/shellyem3_downstairs/emeter/0/current","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":380,"wires":[["33873491.ad88cc"]]},{"id":"3c545615.147fea","type":"mqtt in","z":"81980030.04e6","name":"L2 current","topic":"shellies/shellyem3_downstairs/emeter/1/current","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":440,"wires":[["33873491.ad88cc"]]},{"id":"97f4792b.6f8ec8","type":"mqtt in","z":"81980030.04e6","name":"L3 current","topic":"shellies/shellyem3_downstairs/emeter/2/current","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":200,"y":500,"wires":[["33873491.ad88cc"]]},{"id":"f4c6ab58.d2df08","type":"comment","z":"81980030.04e6","name":"Byt prizemi","info":"","x":200,"y":320,"wires":[]},{"id":"33873491.ad88cc","type":"join","z":"81980030.04e6","name":"Merge msgs","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":420,"y":440,"wires":[["6b25fcd.ba7ab04"]]},{"id":"14950d2f.4c2883","type":"join","z":"81980030.04e6","name":"Merge msgs","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":180,"wires":[["d387b6df.eeceb8"]]},{"id":"fad709fb.3b9f18","type":"debug","z":"81980030.04e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1750,"y":260,"wires":[]},{"id":"d387b6df.eeceb8","type":"function","z":"81980030.04e6","name":"Komparator dum 19 A","func":"var proud = Math.max(msg.payload[0], msg.payload[1], msg.payload[2]);\n\nif (proud > 19 && global.get(\"bojler_prizemi_aktivni\")) {\n    msg.payload = \"off\";\n    global.set(\"bojler_prizemi_aktivni\", false);\n} else if (proud > 13 && !global.get(\"bojler_prizemi_aktivni\")) {\n    msg.payload = \"off\";\n    global.set(\"bojler_prizemi_aktivni\", false);\n} else {\n    msg.payload = \"on\"\n    global.set(\"bojler_prizemi_aktivni\", true);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"bojler_prizemi_aktivni\", true);","finalize":"","libs":[],"x":640,"y":180,"wires":[["32a8f070.daceb"]]},{"id":"6b25fcd.ba7ab04","type":"function","z":"81980030.04e6","name":"Komparator byt 15 A","func":"var proud = Math.max(msg.payload[0], msg.payload[1], msg.payload[2]);\n\nif (proud > 15 && global.get(\"bojler_prizemi_aktivni\")) {\n    msg.payload = \"off\";\n    global.set(\"bojler_prizemi_aktivni\", false);\n} else if (proud > 9 && !global.get(\"bojler_prizemi_aktivni\")) {\n    msg.payload = \"off\";\n    global.set(\"bojler_prizemi_aktivni\", false);\n} else {\n    msg.payload = \"on\"\n    global.set(\"bojler_prizemi_aktivni\", true);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":440,"wires":[["32a8f070.daceb"]]},{"id":"5ccdde86.b007c","type":"switch","z":"81980030.04e6","name":"Vypinac","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1280,"y":320,"wires":[["fad709fb.3b9f18","a7fcc14d.e622a","9eddd6ce.998d98"],["b8feb4a4.475dc8"]]},{"id":"b8feb4a4.475dc8","type":"delay","z":"81980030.04e6","name":"Limit rate 1msg/ 3 mins","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1510,"y":380,"wires":[["fad709fb.3b9f18","a7fcc14d.e622a","9eddd6ce.998d98"]]},{"id":"a7fcc14d.e622a","type":"mqtt out","z":"81980030.04e6","name":"Ohrev povolen","topic":"shellies/hdo_signal/relay/0/command","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":1780,"y":320,"wires":[]},{"id":"63229765.899068","type":"influxdb out","z":"c6e1bd53.4061d","influxdb":"667c9ce0.e82384","name":"Svetlo u sazenicek","measurement":"stan_svetlo","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1020,"y":140,"wires":[]},{"id":"839eece0.d0d86","type":"mqtt in","z":"c6e1bd53.4061d","name":"Svetlo ve stanu","topic":"shellies/shellyplug-1/relay/0","qos":"2","datatype":"auto","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":280,"y":140,"wires":[["1d072632.7dc41a","63229765.899068"]]},{"id":"1d072632.7dc41a","type":"debug","z":"c6e1bd53.4061d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"fdd49abb.e898f8","type":"inject","z":"9bfdb886.0c25b8","name":"1m heartbeat","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"hdo_state","payloadType":"global","x":310,"y":180,"wires":[["2b687501.a5125a"]]},{"id":"fe042035.aee6e","type":"debug","z":"9bfdb886.0c25b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":930,"y":80,"wires":[]},{"id":"2b687501.a5125a","type":"function","z":"9bfdb886.0c25b8","name":"HDO low - switch on","func":"if (msg.payload == 'low') {\n    msg.payload = 'on';\n} else {\n    msg.payload = 'off';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":180,"wires":[["fe042035.aee6e","393628a1.e640a8"]]},{"id":"393628a1.e640a8","type":"mqtt out","z":"9bfdb886.0c25b8","name":"Shelly Plug 1","topic":"shellies/shellyplug-1/relay/0/command","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49f02670.4e40e","x":900,"y":180,"wires":[]},{"id":"7b75d36b.bdcc2c","type":"inject","z":"9bfdb886.0c25b8","name":"HDO state sim high","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"high","payloadType":"str","x":260,"y":340,"wires":[["77060306.79e7dc"]]},{"id":"9506b7b0.1fa278","type":"inject","z":"9bfdb886.0c25b8","name":"HDO state sim low","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"low","payloadType":"str","x":270,"y":400,"wires":[["77060306.79e7dc"]]},{"id":"77060306.79e7dc","type":"change","z":"9bfdb886.0c25b8","name":"","rules":[{"t":"set","p":"hdo_state","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":380,"wires":[[]]},{"id":"9feeffef.b7717","type":"mqtt in","z":"37ba4dd4.0e48e2","name":"Sklenik meteo","topic":"tele/meteo/SENSOR","qos":"1","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":310,"y":100,"wires":[["91787479.bd28d8","b3adb20a.06f9c","63a9543b.f63efc"]]},{"id":"b3adb20a.06f9c","type":"change","z":"37ba4dd4.0e48e2","name":"Extractor venku","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"DS18B20\"].Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":100,"wires":[["c506cf4b.e5747","d27a9591.020d48","668cf631.a71fb8"]]},{"id":"63a9543b.f63efc","type":"change","z":"37ba4dd4.0e48e2","name":"Extractor uvnitr","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"DS18B20\"].Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":220,"wires":[["6c9eb455.f336ac","1b73b5c1.49769a"]]},{"id":"9eddd6ce.998d98","type":"influxdb out","z":"81980030.04e6","influxdb":"d1ebb08c.52989","name":"Ohrev DWH povolen","measurement":"ohrev_dwh_povolen","precision":"m","retentionPolicy":"forever","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1780,"y":200,"wires":[]},{"id":"76016811.244bf8","type":"mqtt in","z":"584a8cef.71d724","name":"L1 voltage","topic":"shellies/elektromer_dilna/emeter/0/voltage","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":120,"y":40,"wires":[["bec91921.470ca8"]],"outputLabels":["L1 line voltage [V]"],"icon":"node-red-dashboard/ui_gauge.png"},{"id":"bec91921.470ca8","type":"influxdb out","z":"584a8cef.71d724","influxdb":"d1ebb08c.52989","name":"L1 Napeti","measurement":"dilna_l1_napeti","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":380,"y":40,"wires":[]},{"id":"8b64e487.ce7f08","type":"mqtt in","z":"584a8cef.71d724","name":"L2 voltage","topic":"shellies/elektromer_dilna/emeter/1/voltage","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":120,"y":100,"wires":[["171eb446.4f876c"]]},{"id":"171eb446.4f876c","type":"influxdb out","z":"584a8cef.71d724","influxdb":"d1ebb08c.52989","name":"L2 Napeti","measurement":"dilna_l2_napeti","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":380,"y":100,"wires":[]},{"id":"8e925426.420358","type":"mqtt in","z":"584a8cef.71d724","name":"L3 voltage","topic":"shellies/elektromer_dilna/emeter/2/voltage","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":120,"y":160,"wires":[["d5f4de99.1aef5"]]},{"id":"d5f4de99.1aef5","type":"influxdb out","z":"584a8cef.71d724","influxdb":"d1ebb08c.52989","name":"L3 Napeti","measurement":"dilna_l3_napeti","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":380,"y":160,"wires":[]},{"id":"2ffc0aea.055f96","type":"mqtt in","z":"584a8cef.71d724","name":"L1 current","topic":"shellies/elektromer_dilna/emeter/0/current","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":120,"y":240,"wires":[["c1ab6877.85d6a8"]]},{"id":"c1ab6877.85d6a8","type":"influxdb out","z":"584a8cef.71d724","influxdb":"d1ebb08c.52989","name":"L1 Proud","measurement":"dilna_l1_proud","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":380,"y":240,"wires":[]},{"id":"743b3535.64062c","type":"mqtt in","z":"584a8cef.71d724","name":"L2 current","topic":"shellies/elektromer_dilna/emeter/1/current","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":120,"y":300,"wires":[["23fde52d.b7c78a"]]},{"id":"23fde52d.b7c78a","type":"influxdb out","z":"584a8cef.71d724","influxdb":"d1ebb08c.52989","name":"L2 Proud","measurement":"dilna_l2_proud","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":380,"y":300,"wires":[]},{"id":"896ab9bd.cf19d8","type":"mqtt in","z":"584a8cef.71d724","name":"L3 current","topic":"shellies/elektromer_dilna/emeter/2/current","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":120,"y":360,"wires":[["bc86002c.658da"]]},{"id":"bc86002c.658da","type":"influxdb out","z":"584a8cef.71d724","influxdb":"d1ebb08c.52989","name":"L3 Proud","measurement":"dilna_l3_proud","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":380,"y":360,"wires":[]},{"id":"5f2efad6.258434","type":"mqtt in","z":"584a8cef.71d724","name":"L1 power","topic":"shellies/elektromer_dilna/emeter/0/power","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":100,"y":440,"wires":[["b20c4aa3.9776e8","f192eb1e.f9b828"]]},{"id":"b20c4aa3.9776e8","type":"influxdb out","z":"584a8cef.71d724","influxdb":"d1ebb08c.52989","name":"L1 Vykon","measurement":"dilna_l1_vykon","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":380,"y":440,"wires":[]},{"id":"455fa551.b5678c","type":"mqtt in","z":"584a8cef.71d724","name":"L2 power","topic":"shellies/elektromer_dilna/emeter/1/power","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":100,"y":560,"wires":[["e3411028.41c7b","f192eb1e.f9b828"]]},{"id":"e3411028.41c7b","type":"influxdb out","z":"584a8cef.71d724","influxdb":"d1ebb08c.52989","name":"L2 Vykon","measurement":"dilna_l2_vykon","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":360,"y":560,"wires":[]},{"id":"90d9706d.fe52d","type":"mqtt in","z":"584a8cef.71d724","name":"L3 power","topic":"shellies/elektromer_dilna/emeter/2/power","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":100,"y":620,"wires":[["35710e8e.9d3d32","f192eb1e.f9b828"]]},{"id":"35710e8e.9d3d32","type":"influxdb out","z":"584a8cef.71d724","influxdb":"d1ebb08c.52989","name":"L3 Vykon","measurement":"dilna_l3_vykon","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":360,"y":620,"wires":[]},{"id":"f24d82af.d90fa","type":"mqtt in","z":"584a8cef.71d724","name":"L1 total","topic":"shellies/elektromer_dilna/emeter/0/total","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":90,"y":700,"wires":[["6a71dc75.31efd4","91f60c42.33296"]],"outputLabels":["L1 total energy consumption [Wh]"]},{"id":"e94bc65d.0507e8","type":"influxdb out","z":"584a8cef.71d724","influxdb":"d1ebb08c.52989","name":"L1 Spotreba Wh","measurement":"dilna_l1_spotreba","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":560,"y":700,"wires":[]},{"id":"34eda460.a2ec7c","type":"mqtt in","z":"584a8cef.71d724","name":"L2 total","topic":"shellies/elektromer_dilna/emeter/1/total","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":90,"y":860,"wires":[["6a71dc75.31efd4","46d8af9a.a248a"]],"outputLabels":["L2 total energy consumption [Wh]"]},{"id":"32830bdf.178af4","type":"influxdb out","z":"584a8cef.71d724","influxdb":"d1ebb08c.52989","name":"L2 spotreba Wh","measurement":"dilna_l2_spotreba","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":520,"y":860,"wires":[]},{"id":"a0b3c94e.1a1818","type":"mqtt in","z":"584a8cef.71d724","name":"L3 total","topic":"shellies/elektromer_dilna/emeter/2/total","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":90,"y":920,"wires":[["6a71dc75.31efd4","572d5500.b00d5c"]],"outputLabels":["L3 total energy consumption [Wh]"]},{"id":"de54b898.ea11b8","type":"influxdb out","z":"584a8cef.71d724","influxdb":"d1ebb08c.52989","name":"L3 Spotreba Wh","measurement":"dilna_l3_spotreba","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":520,"y":920,"wires":[]},{"id":"f192eb1e.f9b828","type":"join","z":"584a8cef.71d724","name":"Powers","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":380,"y":500,"wires":[["c45059d7.67eab8"]]},{"id":"c45059d7.67eab8","type":"function","z":"584a8cef.71d724","name":"Total power","func":"\nvar result = msg.payload[0] + msg.payload[1] + msg.payload[2]\nmsg.payload = result\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":500,"wires":[["946f9d43.c5fb1","de59ad43.38417","bd11bcb4.7bb04"]]},{"id":"946f9d43.c5fb1","type":"influxdb out","z":"584a8cef.71d724","influxdb":"d1ebb08c.52989","name":"Celkovy vykon","measurement":"dilna_celkovy_vykon","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":840,"y":500,"wires":[]},{"id":"6a71dc75.31efd4","type":"join","z":"584a8cef.71d724","name":"Consumptions","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":300,"y":780,"wires":[["a0b588bd.b6b7a8"]]},{"id":"a0b588bd.b6b7a8","type":"function","z":"584a8cef.71d724","name":"Total consumption ","func":"\nvar result = msg.payload[0] + msg.payload[1] + msg.payload[2]\nmsg.payload = result\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":780,"wires":[["4686dc77.be11c4"]]},{"id":"ddb1262f.0c7e28","type":"trigger","z":"584a8cef.71d724","name":"HDO Watchdog","op1":"low","op2":"high","op1type":"str","op2type":"str","duration":"60","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":320,"y":1040,"wires":[["aacead35.cc0c3"]],"inputLabels":["HDO sensor"],"outputLabels":["HDO Low watchdog"]},{"id":"4686dc77.be11c4","type":"delay","z":"584a8cef.71d724","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":730,"y":780,"wires":[["9200d4c7.d388b8"]]},{"id":"39540345.8e151c","type":"mqtt in","z":"584a8cef.71d724","name":"HDO Low Active","topic":"shellies/hdo_signal/input/0","qos":"2","datatype":"json","broker":"49f02670.4e40e","nl":false,"rap":true,"rh":0,"x":120,"y":1040,"wires":[["ddb1262f.0c7e28"]],"outputLabels":["HDO low active"]},{"id":"de59ad43.38417","type":"change","z":"584a8cef.71d724","name":"","rules":[{"t":"set","p":"total_power_dilna","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":460,"wires":[[]]},{"id":"bd11bcb4.7bb04","type":"debug","z":"584a8cef.71d724","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":840,"y":560,"wires":[]},{"id":"53c76461.cac0cc","type":"influxdb out","z":"584a8cef.71d724","influxdb":"d1ebb08c.52989","name":"Celkova spotreba RAW","measurement":"dilna_celkova_spotreba","precision":"s","retentionPolicy":"three_months","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1230,"y":780,"wires":[]},{"id":"a2750c99.a4d15","type":"debug","z":"584a8cef.71d724","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1190,"y":720,"wires":[]},{"id":"9200d4c7.d388b8","type":"function","z":"584a8cef.71d724","name":"Assembler","func":"var total = msg.payload\nvar hdo = global.get('hdo_state')\n\nmsg.payload = {\n    celkova_spotreba_Wh: total,\n    hdo_tarif: hdo,\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":780,"wires":[["a2750c99.a4d15","53c76461.cac0cc"]]},{"id":"aacead35.cc0c3","type":"debug","z":"584a8cef.71d724","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":510,"y":1040,"wires":[]},{"id":"1bda7647.0c4d7a","type":"inject","z":"584a8cef.71d724","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1000,"wires":[["ddb1262f.0c7e28"]]},{"id":"91f60c42.33296","type":"delay","z":"584a8cef.71d724","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":700,"wires":[["e94bc65d.0507e8"]]},{"id":"46d8af9a.a248a","type":"delay","z":"584a8cef.71d724","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":860,"wires":[["32830bdf.178af4"]]},{"id":"572d5500.b00d5c","type":"delay","z":"584a8cef.71d724","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":920,"wires":[["de54b898.ea11b8"]]},{"id":"de081d68.662ab","type":"light-scheduler","z":"81980030.04e6","settings":"61a8377d.de50c8","events":"[{\"start\":{\"dow\":2,\"mod\":850},\"end\":{\"dow\":2,\"mod\":910}},{\"start\":{\"dow\":3,\"mod\":850},\"end\":{\"dow\":3,\"mod\":910}},{\"start\":{\"dow\":4,\"mod\":850},\"end\":{\"dow\":4,\"mod\":910}},{\"start\":{\"dow\":5,\"mod\":850},\"end\":{\"dow\":5,\"mod\":910}},{\"start\":{\"dow\":6,\"mod\":850},\"end\":{\"dow\":6,\"mod\":910}},{\"start\":{\"dow\":0,\"mod\":850},\"end\":{\"dow\":0,\"mod\":910}},{\"start\":{\"dow\":1,\"mod\":270},\"end\":{\"dow\":1,\"mod\":300}},{\"start\":{\"dow\":2,\"mod\":270},\"end\":{\"dow\":2,\"mod\":300}},{\"start\":{\"dow\":3,\"mod\":270},\"end\":{\"dow\":3,\"mod\":300}},{\"start\":{\"dow\":4,\"mod\":270},\"end\":{\"dow\":4,\"mod\":300}},{\"start\":{\"dow\":5,\"mod\":270},\"end\":{\"dow\":5,\"mod\":300}},{\"start\":{\"dow\":6,\"mod\":270},\"end\":{\"dow\":6,\"mod\":310}},{\"start\":{\"dow\":0,\"mod\":270},\"end\":{\"dow\":0,\"mod\":310}},{\"start\":{\"dow\":1,\"mod\":850},\"end\":{\"dow\":1,\"mod\":910}}]","topic":"Ohrev pres HDO povolen","name":"Povoleni ohrevu bojleru prizemi","onPayload":"on","onPayloadType":"str","offPayload":"off","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":true,"outputfreq":"output.minutely","x":280,"y":640,"wires":[["90c04f6e.7e5ab","7f793714.fc1478"]]},{"id":"90c04f6e.7e5ab","type":"debug","z":"81980030.04e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":560,"y":580,"wires":[]},{"id":"7f793714.fc1478","type":"change","z":"81980030.04e6","name":"","rules":[{"t":"set","p":"dhw_hdo_enabled","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":640,"wires":[[]]},{"id":"32a8f070.daceb","type":"switch","z":"81980030.04e6","name":"HDO blokovani","property":"dhw_hdo_enabled","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":320,"wires":[["5ccdde86.b007c","71e582c4.aed43c"],["27be11b8.20e56e"]]},{"id":"70271301.5e295c","type":"inject","z":"81980030.04e6","name":"ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"hdo_dhw_enabled","payload":"on","payloadType":"str","x":280,"y":600,"wires":[["7f793714.fc1478","90c04f6e.7e5ab"]]},{"id":"27be11b8.20e56e","type":"trigger","z":"81980030.04e6","name":"HDO disable trigger","op1":"off","op2":"","op1type":"str","op2type":"nul","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1110,"y":480,"wires":[["5ccdde86.b007c","71e582c4.aed43c"]]},{"id":"71e582c4.aed43c","type":"debug","z":"81980030.04e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1330,"y":460,"wires":[]}]